<div id="block-system-main" class="block block--system block--system-main">
    <h2 class="block__title">Reclaimed Wood Floorings</h2>
    <div class="block__content">
    </div>
</div>


<div id="block-views-services-front-all#floors" class="block block--views block--views-services-front-all">
<div class="block__content">
 <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
    <div class="view-content">
       <div class="views-row views-row-1 views-row-odd views-row-first">
         <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
         <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_kitchen.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
           <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_kitchen_small.jpeg"/></a>

         </article>
       </div>
       <div class="views-row views-row-1 views-row-even">
         <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
         <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/oakfloor.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
           <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/oakfloor_small.jpeg"/></a>

         </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/oakfloor2.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/oakfloor2_small.jpeg"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mantel.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mantel_small.jpeg"/></a>
      </article>
       </div>


       <div class="views-row views-row-3 views-row-odd">
          <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
              <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/rustic_11_large_cropped.jpg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                <img class="thumbnail-image" src="{{MEDIA_URL}}/heartwoodbeyond/gallery/rustic_11_small_cropped.jpg"/></a>
        </article>
       </div>
       <div class="views-row views-row-4 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_pure.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_pure_small.jpeg" /></a>
          </article>
       </div>
       <div class="views-row views-row-4 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_bookcase.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_bookcase_small.jpeg" /></a>
          </article>
       </div>
       <div class="views-row views-row-5 views-row-odd">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_pure.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_pure_small.jpeg"/></a>
          </article>
       </div>
       <div class="views-row views-row-6 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mosaic_2.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mosaic_2_small.jpeg"/></a>
          </article>
       </div>
       <div class="views-row views-row-7 views-row-odd">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mosaic_1.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_mosaic_1_small.jpeg"/></a>
          </article>
       </div>
       <div class="views-row views-row-8 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_wholeroom.jpeg"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_wholeroom_small.jpeg" /></a>
          </article>
       </div>
       <div class="views-row views-row-8 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_oak_1.jpeg"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_oak_1.jpeg" /></a>
          </article>
       </div>
       <div class="views-row views-row-8 views-row-even">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_oak_2.jpeg"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_oak_2.jpeg" /></a>
          </article>
       </div>
       <div class="views-row views-row-9 views-row-odd views-row-last">
          <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_fireplace.jpeg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/gallery/floor_fireplace_small.jpeg" /></a>
          </article>
       </div>

    </div>
 </div>
</div>
</div>





<div style="clear:both;"></div>
