{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}
  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="/">Home</a></li><li>Thank you for sharing your review with us!</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/thank-you-requesting-info" typeof="foaf:Document" class="node node--page node--full node--page--full">
  <header>

          <h1 class="node__title">Thank You For Requesting More Information!</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Thank you for requesting more information from our team at Heartwood Pine Floors! One of our friendly customer service representatives will be in touch shortly regarding your request. If you need immediate assistance, please call our office at <a href="tel:+19195424394">919-542-4394</a>. In the meantime, <a href="https://www.facebook.com/Heartwood-Pine-Floors-Inc-148838151798958/">like us on Facebook </a>to receive exclusive tips and special offers.</p>
</div></div></div>  </div>

    </article>
  </div>
</div>
          </div>
          <aside class="l-region l-region--sidebar">


             {% include "heartwoodandbeyond/left_panel.html" %}

          </aside>
</div>







  {% endblock %}
