{% extends "heartwoodandbeyond/grades/grade_base.html" %}

{% block grade_item %}
Antique Quartersawn Heartpine
{% endblock %}

{% block grade_header %}

<h1 class="node__title">Antique Quartersawn Heartpine</h1>
{% endblock %}

{% block grade_content %}
<div class="field field--name-field-image field--type-image field--label-hidden">
  <div class="field__items">
    <div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/ourphotos/HeartwoodPine_QuarterSawn_Knots.jpg?itok=1G6-33lA" width="800" height="400" alt="" /></div>



</div></div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Every step you take on your new antique quartersawn heart pine floor will echo your appreciation of the past, your commitment to beauty, and the value you place on having the utmost in quality.</p>
<p>Antique Quartersawn Heart Pine is a special cut of wood that produces a tight linear grain face pattern. Knot-free with rich red and burgundy tones, this rare and elegant antique heartwood pine flooring provides a home with formal beauty and the look of spacious luxury.</p>
<h2>Specifications</h2>
<ul>
<li>Made from 100% reclaimed Antique Longleaf Heartwood Pine.</li>
<li>Content: Sawn From 100% heart pine.</li>
<li>Grain Pattern: 100% tight edge-sawn linear pattern.</li>
<li>Density: 8 – 30 growth rings per inch.</li>
<li>Knots: No knots</li>
<li>Lengths: 1 ft. to 10 ft.</li>
<li>Widths: 2 in. to 5 in.</li>
<li>Thickness: ½ in. or ¾ in. tongue and groove</li>
<li>Color: • Color: Uniform tones of red, amber, and burgundy.</li>
<li>• Kiln-dried to 6-8 % moisture content.</li>
</ul>
<p>Professionally selected and sorted and bundled in random lengths.</p>
<p>The current lead time for delivery from our Chatham County, NC facility is one to two weeks; however please call regarding our quartersawn wood flooring inventory as we have many grades in stock for immediate shipping.</p>
</div>
<div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service_primary/public/QSawn%20(1)_01090.jpg?itok=OXrHPv_y" width="800" height="400" alt="" /></div>


</div></div><div class="field field--name-field-call-out field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><h3>Ready to add premium quality flooring to your home?</h3>
<p><a class="button" href="{% url 'free_quote' %}">Get your sample kit!</a></p>
</div></div></div>
{% endblock %}
