{% extends "heartwoodandbeyond/grades/grade_base.html" %}

{% block grade_item %}
Antique Southern Yellow Pine
{% endblock %}

{% block grade_header %}

<h1 class="node__title">Antique Southern Yellow Pine</h1>
{% endblock %}

{% block grade_content %}
<div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
<div class="block__content">
 <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
    <div class="view-content">
       <div class="views-row views-row-1 views-row-odd views-row-first">
         <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
         <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g1_1e298.jpg?itok=BppSvEoc" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
           <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g1_1f095.jpg?itok=B15hjrq_"/></a>

         </article>
       </div>


       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g2_125a5.jpg?itok=Ro4C-iAA" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g2_15fc0.jpg?itok=eNpRBZaD"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/SYP1d64d.jpg?itok=nqyptGgM" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/SYP19923.jpg?itok=hvkjX-XM"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp360c5.jpg?itok=aV8wG3dk" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp35873.jpg?itok=mSk8g1N7"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp4e04b.jpg?itok=baMv4xbU" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp4491b.jpg?itok=ArNsiImZ"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp51cc4.jpg?itok=JlsOMc1i" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp5c640.jpg?itok=nlNrP9Nm"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp6c329.jpg?itok=-CYiEPJS" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp651df.jpg?itok=ZBnPxVfE"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp78703.jpg?itok=a2_kF3jr" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp768a0.jpg?itok=b-t4XXko"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp8b7b1.jpg?itok=K6-iZaCu" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp88747.jpg?itok=MHAfj_99"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp94918.jpg?itok=xGKdK6b6" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp93fb9.jpg?itok=lzRgTCJG"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp10bc09.jpg?itok=upVqsvzl" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp10049e.jpg?itok=EzIbMgUp"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp11f127.jpg?itok=3OzJlgth" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp11beba.jpg?itok=CSfK_mj4"/></a>
      </article>
       </div>
       <div class="views-row views-row-10 views-row-even views-row-last">
          <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp125480.jpg?itok=a5k7LpBV" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp124f27.jpg?itok=E9eIdjBt"/></a>
          </article>
       </div>
    </div>
 </div>
</div>
</div>



{% endblock %}
