{% extends "heartwoodandbeyond/grades/grade_base.html" %}

{% block grade_item %}
Antique Character Heartpine
{% endblock %}

{% block grade_header %}

<h1 class="node__title">Antique Character Heartpine</h1>
{% endblock %}

{% block grade_content %}
<div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
<div class="block__content">
 <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
    <div class="view-content">
       <div class="views-row views-row-1 views-row-odd views-row-first">
         <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
           <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/c26d3f.jpg?itok=A9V8gtB4" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
             <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/c21cbc.jpg?itok=Wm-kq1rk"/></a>
     </article>
       </div>

       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/c36818.jpg?itok=brhKlt2D" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/c3af6c.jpg?itok=9uM_NKoP"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/c36818.jpg?itok=brhKlt2D" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/c3af6c.jpg?itok=9uM_NKoP"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/c4cdb6.jpg?itok=YWUfq85-" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/c42beb.jpg?itok=9uMLZviK"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/c526ab.jpg?itok=QgEC0OsF" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/c50139.jpg?itok=0h9hWS4D"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch22ecf.jpg?itok=RcfEYhXB" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch2891f.jpg?itok=rvbBqWEL"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch304fa.jpg?itok=fHsIrYRG" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch3c3d0.jpg?itok=Fw_MgNgS"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch435e1.jpg?itok=KRgqO9m8" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch4dd0d.jpg?itok=faalVhrw"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch507fc.jpg?itok=Ld8WFLXp" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch56856.jpg?itok=-LUHfvT9"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch507fc.jpg?itok=Ld8WFLXp" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch56856.jpg?itok=-LUHfvT9"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch639e5.jpg?itok=bhf-yhkb" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch6c9c7.jpg?itok=WXQJASTN"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/ch78c0d.jpg?itok=Cb0vUbok" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/ch7155c.jpg?itok=VqKn54EQ"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char14216.jpg?itok=B-qt3hN9" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char1a723.jpg?itok=b9FsntrB"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char14216.jpg?itok=B-qt3hN9" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char1a723.jpg?itok=b9FsntrB"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char30cc3.jpg?itok=VQFzRYG_" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char3505e.jpg?itok=_ZYuD5nF"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char45c0f.jpg?itok=6MSTVgx7" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char4f917.jpg?itok=yuhCGglj"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char520f6.jpg?itok=vagITxL4" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char513a5.jpg?itok=uHVnTF6p"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char65fd4.jpg?itok=9e9jc6aD" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char60f31.jpg?itok=5pQbzMGe"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char7b2ad.jpg?itok=wd48JusZ" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char78e70.jpg?itok=8-Sy_b0H"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char89ef3.jpg?itok=hxilMxxF" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char86e32.jpg?itok=z6m0DhPH"/></a>
      </article>
       </div>
       <div class="views-row views-row-2 views-row-even">
          <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char9fcd5.jpg?itok=6fbjLY_g" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char9cb78.jpg?itok=I0UJhjBN"/></a>
      </article>
       </div>
       <div class="views-row views-row-10 views-row-even views-row-last">
          <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
            <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/char10f3fc.jpg?itok=gVfn5paq" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
              <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/char1017b4.jpg?itok=FQ0vgpZK"/></a>
          </article>
       </div>
    </div>
 </div>
</div>
</div>

{% endblock %}
