{% url 'american_tobacco_co_reclaimed_tobacco_pine' as american_tobacco_co_reclaimed_tobacco_pine_url %}
{% url 'natural_antique_heartpine' as natural_antique_heartpine_url %}
{% url 'antique_quartersawn' as antique_quartersawn_url %}
{% url 'select_1_heartpine' as select_1_heartpine_url %}
{% url 'character_heartpine' as character_heartpine_url %}
{% url 'antique_southern_yellow_pine' as antique_southern_yellow_pine_url %}
{% url 'oak' as oak_url %}


<div id="block-menu-block-3" class="block block--menu-block block--nav-submenu block--menu-block-3">
    <div class="block__content">
<div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-0 menu-level-2">
<ul class="menu">
  <li class="second leaf menu-mlid-843 {% if request.path == natural_antique_heartpine_url %}active-trail active {% endif %}"><a href="{% url 'natural_antique_heartpine' %}">Antique Natural Heartpine</a></li>
  <li class="second leaf menu-mlid-843 {% if request.path == oak_url %}active-trail active {% endif %}"><a href="{% url 'oak' %}">Antique Natural Oak</a></li>

<li class="third leaf menu-mlid-841 {% if request.path == antique_quartersawn_url %}active-trail active {% endif %}"><a href="{% url 'antique_quartersawn' %}">Antique Quartersawn Heart Pine</a></li>
<li class="third leaf menu-mlid-841 {% if request.path == select_1_heartpine_url %}active-trail active {% endif %}"><a href="{% url 'select_1_heartpine' %}">Antique Select #1 Heartpine</a></li>
<li class="fourth leaf menu-mlid-841 {% if request.path == character_heartpine_url %}active-trail active {% endif %}"><a href="{% url 'character_heartpine' %}">Antique Character Heartpine</a></li>
<li class="last leaf menu-mlid-841 {% if request.path == antique_southern_yellow_pine_url %}active-trail active {% endif %}"><a href="{% url 'antique_southern_yellow_pine' %}">Antique Southern Yellow Pine</a></li>



</ul></div>
</div>
</div>

<hr>
