{% extends "heartwoodandbeyond/grades/grade_base.html" %}

{% block grade_item %}
Antique Natural Heartpine
{% endblock %}

{% block grade_header %}

<h1 class="node__title">Antique Natural Heartpine</h1>
{% endblock %}

{% block grade_content %}
<div class="field field--name-field-gallery-images field--type-image field--label-hidden">
  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service_primary/public/praeb2.jpg?itok=DC7dsPSD" width="800" height="400" alt="" /></div></div></div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><div class="rtecenter" style="margin-bottom: 20px;"><a href="{% url 'tobacco_pine_rustic' %}">VIEW P</a><a href="{% url 'tobacco_pine_rustic' %}">REFINISHED &amp; UNFINISHED NATURAL GRADE PINE GALLERY</a></div>
  <p>At Heartwood Pine Flooring, we are proud to offer precision-milled reclaimed wood flooring expertly salvaged from structural decking, beams, and timbers found in the American Tobacco Company warehouse in Durham, NC. More than 30,000 American large textiles and manufacturing buildings that traditionally supplied the wood for the reclaimed wood flooring industry have been destroyed in the last 40 years. With so many of them being destroyed, the material has become scarce causing the cost of reclaimed wood flooring to soar to $12-20.00 per square foot. </p>
  <p>Working with a demolition expert, we salvaged 500,000 b.f. of structural decking, beams and timbers from the American Tobacco Company warehouse and transformed it into what we now call Natural Grade Pine. This particular tobacco warehouse was built in the early 1900’s so the reclaimed wood has undergone 120 years of slow air-drying.</p>
  <p>Because we have this large supply of reclaimed lumber, we are proud to offer beautiful, durable, solid reclaimed wood flooring for about 50% of what you would pay for Standard Heart Pine with a quicker delivery time. We most often sell factory direct to developers, home builders, architects, and flooring contractors, but we also work with homeowners providing them with beautiful unique flooring for their home.</p>
  <p>
  Whether you are contractor,developer or home owner, we offer one grade of Natural Pine, we call RUSTIC. This is available in  2 ways, PREFINISHED and UNFINISHED.</p>
  <table align="left" border="0" cellpadding="5" cellspacing="10" style="border-spacing:0 !important; border:none !important; width:800px">
  <tbody>
  <tr>
  <td>
  <p><strong>Natural Grade Pine Rustic PREFINISHED</strong><br />
    <em>Prefinished: Clear, Natural, Satin </em>  </p>
  <ul>
  <li>
  <p>$9.50 per sf</p>
  </li>
  <li>
  <p>Factory finished includes 7 coats of clear/natural polyurethane</p>
  </li>
  <li>
  <p>Variations of color and grain pattern creates a beautiful floor with character</p>
  </li>
  <li>
  <p>Heart Content: 10%-80%  </p>
  </li>
  <li>
  <p>Grain pattern:  Flat Sawn</p>
  </li>
  <li>
  <p>Density: 6-12” growth rings    </p>
  </li>
  <li>
  <p>Knots: small, tight  and could have many</p>
  </li>
  <li>
  <p>Widths: 4”- 6”     </p>
  </li>
  <li>
  <p>Thickness:  3/4" T&amp;G </p>
  <p>				                                                                </p></li>
  </ul>
  </td>
  <td>
  <p><strong>Natural Grade Pine Rustic UNFINISHED</strong><br />
    <em>Unfinished: Ready to install and finish</em></p>
  <ul>
  <li>
  <p>$6.50 per sf</p>
  </li>
  <li>
  <p>Balanced mixture of lighter reds and rich mellow yellows</p>
  </li>
  <li>
  <p>Heart content:  10%-80%</p>
  </li>
  <li>
  <p>Grain pattern: Flat Sawn          </p>
  </li>
  <li>
  <p>Density: 6-12” growth rings</p>
  </li>
  <li>
  <p>Knots: small, tight could have many</p>
  </li>
  <li>
  <p>Widths: combination 4” - 6”</p>
  </li>
  <li>
  <p>Thickness: 3/4"  T&amp;G</p>
  </li>
  </ul>
  </td>
  </tr>
  </tbody>
  </table>
  </div></div></div>


<h2 class="node__title">Gallery Of Our Antique Natural Pine Floors!</h2>

  <div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
     <div class="block__content">
        <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
           <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first">
                <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0012b07c.jpg?itok=PglBwZFv" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                  <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/00120975.jpg"/></a>

                </article>
              </div>
              <div class="views-row views-row-1 views-row-even">
                <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0015300f.jpg" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                  <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/0015ee55.jpg?itok=cP90HVcv"/></a>

                </article>
              </div>

              <div class="views-row views-row-2 views-row-even">
                 <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0216ef44.jpg?itok=aCUWzJvI" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/02164815.jpg?itok=OePMzaph"/></a>
             </article>
              </div>


              <div class="views-row views-row-3 views-row-odd">
                 <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                     <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3152ff96.jpg?itok=k58VJA61" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                       <img class="thumbnail-image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3152cf92.jpg?itok=Iz7bZbEi"/></a>
               </article>
              </div>
              <div class="views-row views-row-4 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3153c07b.jpg?itok=ZGlVjVw8" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/31536920.jpg?itok=_bZdIxtc" /></a>
                 </article>
              </div>
              <div class="views-row views-row-4 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3154623c.jpg?itok=rWQlL2tN" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3154d3a2.jpg?itok=NKv3204X" /></a>
                 </article>
              </div>
              <div class="views-row views-row-5 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31564df5.jpg?itok=agJKM0w9" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/31568fe2.jpg?itok=OLeFssYi"/></a>
                 </article>
              </div>
              <div class="views-row views-row-6 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3157f7d1.jpg?itok=YohycCAN" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/315745d7.jpg?itok=Nj9zqrv4"/></a>
                 </article>
              </div>
              <div class="views-row views-row-7 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31618801.jpg?itok=4gu9KA64" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3161b485.jpg?itok=4totoCeY"/></a>
                 </article>
              </div>
              <div class="views-row views-row-8 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31656b5f.jpg?itok=7eFXVerL"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3165962a.jpg?itok=uxGCQF5h" /></a>
                 </article>
              </div>
              <div class="views-row views-row-9 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g1_2bb64.jpg?itok=nsJB_f2d"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g1_29d26.jpg?itok=PzXh39Te" /></a>
                 </article>
              </div>
              <div class="views-row views-row-10 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g2_2e17b.jpg?itok=BvA2ja-m"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g2_24489.jpg?itok=cZz_xN_l" /></a>
                 </article>
              </div>
              <div class="views-row views-row-11 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g3_05aaf.jpg?itok=zj3QVbgB"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g3_09d24.jpg?itok=tQYR9Wcb" /></a>
                 </article>
              </div>
              <div class="views-row views-row-12 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g4_0a1e3.jpg?itok=cNC6wBzc"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g4_042fb.jpg?itok=Xy3qAzdn" /></a>
                 </article>
              </div>
              <div class="views-row views-row-12 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g5_0a20e.jpg?itok=PqqDBIDZ"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g5_0d95b.jpg?itok=8QotSAEo" /></a>
                 </article>
              </div>
              <div class="views-row views-row-13 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_88026b97.jpg?itok=tHY_gHbi"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_8802193a.jpg?itok=lMLrYSm8" /></a>
                 </article>
              </div>
              <div class="views-row views-row-14 views-row-even">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_8815d056.jpg?itok=_jNL-lw3"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_8815e41a.jpg?itok=ErAXBZGi" /></a>
                 </article>
              </div>
              <div class="views-row views-row-15 views-row-odd">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_8816f4cd.jpg?itok=OrrIetSe"  class="MagicZoomPlus" rel="zoom-position: inner;  expand-position: center; expand-align: image;">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_881645ca.jpg?itok=6GavWXLf" /></a>
                 </article>
              </div>
              <div class="views-row views-row-16 views-row-even views-row-last">
                 <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser">
                   <a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/nat1e8e5.jpg?itok=u0MVwP0t" rel="zoom-position: inner;  expand-position: center; expand-align: image;" class="MagicZoomPlus">
                     <img src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/nat1ea2f.jpg?itok=N53XGiPc" /></a>
                 </article>
              </div>

           </div>
        </div>
     </div>
  </div>

  <div class="field field--name-field-call-out field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><h3>Want to add interest to any room and not just the floors but the walls and ceiling? This wood is great for painting and staining.</h3>
  <p> </p>
  <p><a class="button" href="{% url 'free_quote' %}">Get your sample kit today!</a></p>
  </div></div></div>


</div>
{% endblock %}

<style type="text/css">
  article a img {
      width: 400px; /* Fills the width of the container */
      height: 300px; /* Maintains image aspect ratio */
       object-fit: cover;
       border: 5px solid #000;
padding: 10px;
box-shadow: 5px 5px 10px #888888;
border-radius: 10px;
  }

  .block__title {
      text-transform: uppercase;
      text-align: center;
  }

  #block-views-services-front-all {
    margin-bottom: 50px;
  }

  .block__title:after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-image: linear-gradient(to right, #333, #fff, #333, #fff, #333);
    margin-top: 10px;
}
  div .views-row {
    margin-bottom: 50px;
  }
</style>
