{% extends "heartwoodandbeyond/grades/grade_base.html" %}

{% block grade_item %}
Antique Natural Oak
{% endblock %}

{% block grade_header %}

<h1 class="node__title">Antique Natural Oak</h1>
{% endblock %}

{% block grade_content %}
<div class="field field--name-field-image field--type-image field--label-hidden">
  <div class="field__items">
    <div class="field__item odd">
      <img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/gallery/oak.png" width="800" height="400" alt="" />
    </div>

  </div>
</div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded">
<p>
  Every plank and board of our reclaimed oak timbers has been carefully hand-selected and preserved, reclaimed from the heart of century-old industrial buildings. The visible scars, knots, and textures aren't imperfections but rather genuine marks of history, each narrating tales of time and craftsmanship, epitomizing a rugged allure that modern methods simply cannot recreate.

  When you introduce our rustic oak into your surroundings, be it as furniture, flooring, or decor, you're not just adding an element of style. You're breathing life into a legacy, ensuring its timeless elegance flourishes in today's contemporary settings.
</p>
</div></div></div>
{% endblock %}
