<footer class="ftr-wrapper">
    <div class="ftr-op-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ftr-bord">
            <div class="ftr-option">
                <div class="ftr-img">
                    <img src="{{ MEDIA_URL }}/2023/images/ftr-img-1.svg">
                </div>
                <div class="ftr-desc">
                    <h6>Saving's Channels</h6>
                    <p>savings to our loyal customers</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ftr-bord">
            <div class="ftr-option">
                <div class="ftr-img">
                    <img src="{{ MEDIA_URL }}/2023/images/ftr-img-4.svg">
                </div>
                <div class="ftr-desc">
                    <h6>Secure and Easy Login</h6>
                    <p>The login process is easy and secure.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ftr-bord">
            <div class="ftr-option">
                <div class="ftr-img">
                    <img src="{{ MEDIA_URL }}/2023/images/ftr-img-2.svg">
                </div>
                <div class="ftr-desc">
                    <h6>Secure shopping</h6>
                    <p>payments safely and securely</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ftr-option">
                <div class="ftr-img">
                    <img src="{{ MEDIA_URL }}/2023/images/ftr-img-3.svg">
                </div>
                <div class="ftr-desc">
                    <h6>Free Shipping</h6>
                    <p>Free Shipping on US domestic orders over $25</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="ftr-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                     <div class="ftr-payment">
                        <h6>PAYMENT FORMS ACCEPTED</h6>
                        <ul>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-payment-1.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-payment-2.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-payment-3.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-payment-4.svg"></a></li>
                        </ul>
                     </div>
                      <div class="ftr-social">
                        <h6>GET IN THE KNOW</h6>
                        <ul>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-youtube.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/Ftr-facebook.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-instagram.svg"></a></li>
                            <li><a href="index.html#"><img src="{{ MEDIA_URL }}/2023/images/ftr-twitter.svg"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="imp-links">
                        <h6>Why Buy From Us</h6>
                        <ul>
                            <li><a href="index.html#">Our Unbeatable Saving's Channels</a></li>
                            <li><a href="index.html#">Secure and Easy Login</a></li>
                            <li><a href="index.html#">Safe and Secure Shopping</a></li>
                            <li><a href="index.html#">Free Shipping on most domestic orders</a></li>
                            <li><a href="index.html#">Customer Testimonials</a></li>
                            <li><a href="index.html#">We value your privacy</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="imp-links">
                        <h6>Customer Service</h6>
                        <ul>
                            <li><a href="index.html#">About Us</a></li>
                            <li><a href="index.html#">Your account</a></li>
                            <li><a href="index.html#">Safe and Secure Shopping</a></li>
                            <li><a href="index.html#">Shipping Policy, Returns & Exchanges,</a></li>
                            <li><a href="index.html#">Warranty Services</a></li>
                            <li><a href="index.html#">Contact Us</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="news-tel-sec">
                        <h6>Subscribe newsletter</h6>
                        <div class="news-tel">
                            <input type="text" class="form-control" placeholder="Enter email">
                            <button class="news-tel-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="footer-btm">
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="ftr-btm-sec">
                    <div class="ftr-btm-links">
                        <ul>
                            <li><a href="index.html#">Terms & Conditions</a></li>
                            <li><a href="index.html#">Privacy Policy</a></li>
                            <li><a href="index.html#">Cookies</a></li>
                        </ul>
                    </div>
                    <div class="ftr-copy">
                        <p>© 2023 Andrew & Amanda</p>
                    </div>
                </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
   </footer>
