{% extends "base.html" %}

{% block site_wrapper %}


					<div class="cb"> </div>


					<div class="Welcometext">
						<img src="/static/images/calendar_folder/{{ calendar_spec }}" alt="" class="CalenderIcon"/>
						<h1><b>About {{ site_name }}</b></h1>
 
      					<p align="justify" style="margin-top: 0; margin-bottom: 0">Welcome to {{ site_name }}. We offer high quality shooting gears. It is your source for top quality LED lights, tactical scopes, batteries, gun grips, mounts, and much more. The products we offer are both economical to operate and environmentally friendly.  We offer Free domestic ground shipping for orders over $25 and pack your order with Biodegradable materials.
  </p>

<!--
<br /><br />
						<h1 align="center"><i>What our customers say about us</i></h1>

						<p align="justify" style="margin-top: 0; margin-bottom:0">The {{ site_name }} strives to meet its customers needs.  We are extremely pleased when customers go out of their way to telephone or write us to express their gratitude.  Below are some of the many accolades we've received recently:


        					<ul class="sf_testimonialsList italic">
    
							<li>
 

								<p align="justify">I just wanted to take the time to tell you how much I love {{ site_name }} and your customer service. I have been a customer for several years now, and have NEVER ONCE had a negative experience with this company. The selection of product is just as wonderful as your customer service. Every representative I've dealt with has been nothing but patient, pleasant, and a pleasure to speak with regarding any of my order/shopping concerns. I will continue to recommend {{ site_name }} to others, and will continue to shop with your company. Thank you very much! </p>
							</li>
           						<li>

								<p align="justify">There is no better organization to deal with than {{ site_name }}. My stuff arrives correctly and blazingly fast. {{ site_name }} sets the standard that everyone else is chasing. These days, this is rare.</p>
							</li>
           						<li>

								Excellent product, exactly how described. Great transaction.
							</li>
           						<li>

								Thanks for the fast shipping. I placed my order yesterday and received it today!	
							</li>
						</ul>
-->
					</div><!--end .Welcomtext-->




{% endblock %}

<!--
{% block right_column %}
	<div id="greenbar">Deals of the day
		<img src="/static/images/siteImg/money-back-guarantee.png" />
		<div style="margin-left:17px;">
			<img src="/static/images/siteImg/webexclusive.jpg" />
		</div>
	</div>
	<div style="margin-top:50px;">
		{% include 'tags/stayConnected.html' %}
	</div>


{% endblock %}

-->
