{% extends "base.html" %}

{% block site_wrapper %}


					<div class="cb"> </div>


					<div class="Welcometext">
						<h1><b>{{ page_title }}</b></h1>
 
<p align="justify" style="margin-top: 0; margin-bottom: 0">We are deeply committed to respecting and protecting your right to privacy and takes your privacy seriously. We strive to keep your personal and financial information secure. We do not sell, rent, loan, or give your email address or other personal information to anybody.
<br>
<br>
When you enter your order using credit card, it is connected to the Payment Processor using 128 bit security encryption, we do not keep your credit card information in our system. When you make payments through Paypal, the entire payment process is executed through Paypal's secure payment system.
  </p>


{% endblock %}

