{% extends "catalog.html" %}


{% load catalog_tags %}
{% load catalog_filters %}
{% block content %}

<div id="paymentTemplate">


	<h1 class="headingPageTitle2">Paypal Processing Error </h1>
		<span style="float:right;font-size:11px;font-weight:bold;">
			A Paypal processing error has occurred, your account has not been charged. Please check the below error details
		</span>
	<div class="clr"><!--  --></div>
 	<br \> <br \>
			
			<!-- Review Order -->
	<h2 class="headingPageSection headingPayment">Error details</h2>
 	<br \> <br \>
	<span style="float:right;font-size:11px;font-weight:bold;">{{ paypal_error }}</span>



</div>

{% endblock %}

{% block rightcolumn %}
	{% include 'tags/restAssured.html' %}
	<br /><br />
{% endblock %}
