<div class="clr"></div>
<h1 class="headingPageTitle2">Your offer sent</h1>
<div>
<div class="box_r fr">
	<div><span style="font-size:14px;color:#CC0000;">
		<a href="{% url 'nameyourprice' %}"><img src="/static/images/siteImg/tabwhitecheckstatus.gif" /></a></span>
	</div>

</div>
<div class="box fl">
	<div><span style="font-size:14px;color:#CC0000;">Thank you, Your offer of <b>${{ subtotal }}</b> for the above items has been entered</span>
	</div>
	<div><span style="font-size:14px;color:#CC0000;">
		Your will receive a response within one business day</span>
	</div>
</div>
</div>



