             <div class="box">
		<div>
        	{% for p in products %}
                	<p style="margin-left:30px;color:#CC0000;">{{p.product.meta_description}}     		     <span style="margin-left:30px;color:#CC0000;">Qty: {{p.qty_offered }}</span></p>
			<br>
        	{% endfor %}
		</div>
                {% for offer in offerhistories %}
                            <div>
                                <span style="font-size:14px;color: #CC0000;">{{ offer.buyer_offer_date }}:</span><br>
                                <span style="margin:20px;font-size:14px;color: #8E6C6C;">Your offered: ${{ offer.buyer_offer_price }}</span>
                                {% if offer.buyer_comment %}
                                        <br><span style="margin:20px;font-size:14px;color: #8E6C6C;">Your comment: {{offer.buyer_comment }}</span>
                                {% endif %}
                                <br>
				{% if offer.seller_offer_price %}
                                	<span style="font-size:14px;color: #CC0000;">{{ offer.seller_offer_date }}:</span>
                                	<br>   <span style="margin:20px;font-size:14px;color: #8E6C6C;">Andrew's Counter Offer: ${{ offer.seller_offer_price }}</span>
                                	{% if curroffer.seller_comment %}
                                        	<br><span style="margin:20px;font-size:14px;color: #8E6C6C;">Andrew's comment: {{offer.seller_comment }}</span>
                                	{% endif %}
				{% endif %}
                           </div>

                {% endfor %}
            </div>
