{% extends "base_withLeftFrame.html" %}

{% block content %}

<h1 class="headingPageTitle2">Wholesale and Vendor Program</h1>
<div style="width: 592px; float: left; padding-bottom: 15px; font-size: 15px; font-family: "Courier New"; color="#333333">

Do you sell products online or in a store? {{ site_name }} provides a wholesale and vendor program that is available to all companies who purchase and sell LED flashlights, tactical scopes, batteries, and more!
<br /><br />
Our wholesale/vendor program allows your business to purchase our products at a discounted price. As a vendor you can purchase by credit card, purchase order, check, wire transfer, money order and cashier's check. Having a dealer account will allow you to easily purchase our products.
<br /><br />
<b style="font-style: normal;">How to take advantage of our wholesale/vendor program: </b>
<br /><br />
<ol class="withBullets"> 
   <li>Please email a copy of your resale certificate to {{ EMAIL_ORDER }} or call us toll free at {{SUPPORT_PHONE_NUM}}. </li>
   <li>Please email a wholesale purchase request to {{ EMAIL_ORDER }} or call {{SUPPORT_PHONE_NUM}}, indicating the products you want to purchase and the amount.</li>
   <li>{{ site_name }} will evaluate the information provided and acceptance, discount and sales requirements will be based on the information provided. We will issue you an authorization number once we approve your request</li>
   <li>You can place your order by phone, fax , email or online once you received your authorization number. If you use our online system, please use the authorization number as the promotion code in the checkout process</li>
</ol>
<br /><br />

Thanks for choosing {{ site_name }}! {{ site_name }} will make its best attempt to offer the best pricing and service available to you.

<br /><br />
Interested in more information? Contact us to get started.

</div>
{% endblock %}