
	<tr>
		<td colspan="1">
			<div id="star{{ review.rating }}Rating"><span class="noshowspan">{{ review.rating }}</span></div>

						
		</td>
		<td colspan="1" valign="bottom">
			<span class="productspecfont"><a href="#"  class="prodname">{{ review.title }}</a></span>
		</td>
		<td>
			<span style="float: right;">
				{{ review.date }}
			</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
	</tr>

	<tr>
		<td align="right" valign="top" width="70">
  			<p >
				by {{ review.user.username }}
			</p>
					
		</td>
		<td colspan="2" valign="top"> 
			<span class="productspecfont">{{ review.content }}</span>

		</td>
		<td>
		</td>
	</tr>
		<td>	<hr noshade="noshade" size="1" />
		</td>
		<td>	<hr noshade="noshade" size="1" />
		</td>
		<td>	<hr noshade="noshade" size="1" />
		</td>
	<tr>
	</tr>
	<tr></tr>


