<div class="l-postscript">
   <div class="l-wrap--postscript-second">
   </div>
<div class="l-region l-region--postscript-third">
   <div id="block-bean-made-with-heart-in-north-carolin" class="block block--bean block--bean-made-with-heart-in-north-carolin">
      <div class="block__content">
         <div  about="/block/made-with-heart-in-north-carolin" typeof="" class="entity entity-bean bean-generic-bean">
            <div class="content">
               <div class="field field--name-field-image field--type-image field--label-hidden">
                  <div class="field__items">
                     <div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/image-north-carolina%402x.png" width="376" height="146" alt="" /></div>
                  </div>
               </div>
               <div class="field field--name-field-description field--type-text-long field--label-hidden">
                  <div class="field__items">
                     <div class="field__item even">
                        <p>Made With Heart in North Carolina</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div class="l-footer-wrap">
   <footer class="l-footer">
      <div class="l-region l-region--footer-second">
         <div id="block-views-locations-list" class="block block--views block--views-locations-list">
            <div class="block__content">
               <div class="view view-locations view-id-locations view-display-id-list view-dom-id-f238243f0b33f4bd33ddf7ee7d52f302">
                  <div class="view-content">
                     <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                        <div about="/main-office" typeof="sioc:Item foaf:Document" class="node node--location node--promoted node-teaser node--teaser node--location--teaser" itemscope itemtype="http://schema.org/LocalBusiness">
                           <h2 itemprop="name">Main Office</h2>
                           <div class="node__content" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                              <span class="field-street-address" itemprop="streetAddress">2722 NC 87 S</span>
                              <span class="field-locality" itemprop="addressLocality">Moncure</span>,
                              <span class="field-state" itemprop="addressRegion">NC</span>
                              <span class="field-postal-code" itemprop="postalCode">27559</span>
                           </div>
                           <div class="field-phone-number ctm-no-swap" itemprop="telephone">
                              <a href="tel:919-542-4394">919-542-4394</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="block-sprowt-settings-sprowt-copyright" class="block block--sprowt-settings block--sprowt-settings-sprowt-copyright">
            <div class="block__content">
              </div>
         </div>
      </div>
      <div class="l-region l-region--footer-third">
         <div id="block-menu-menu-mobile-footer" class="block block--menu block--nav-utility-footer block--menu-menu-mobile-footer">
            <div class="block__content">
               <ul class="menu">
                  <li class="first last leaf"><a href="{% url 'show_gallery' %}" class="menu-718">View Our Gallery</a></li>
               </ul>
            </div>
         </div>
         <div id="block-sprowt-settings-sprowt-social-media" class="block block--sprowt-settings block--sprowt-settings-sprowt-social-media">
            <div class="block__content">
               <ul>
                  <li>
                     <a class="facebook" href="https://www.facebook.com/Heartwood-Pine-Floors-Inc-148838151798958/" target="_blank">
                     <i class="fa fa-fw fa-facebook"></i>
                     <span class="social-description social-description-facebook">
                     Facebook      </span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </footer>
</div>
