<div class="l-region l-region--preface-first">
   <div id="block-views-benefits-front" class="block block--views benefits-hero block--views-benefits-front">
      <div class="block__content">
         <div class="view view-benefits view-id-benefits view-display-id-front view-dom-id-154e7ac971cdc3eac3cc46cfe162d446">
            <div class="view-content">
               <div class="views-row views-row-1 views-row-odd views-row-first">
                  <article about="/personalized-service" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                     <div class="node__content">
                        <h2 class="node__title"><a href="{% url 'milling' %}" rel="bookmark">Personalized Service</a></h2>
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                           <div class="field__items">
                              <div class="field__item even" property="content:encoded">
                                 <p>From the beginning of your home project to the end, our team will be there every step of the way, providing support and expertise. </p>
                              </div>
                           </div>
                        </div>
                        <a href="{% url 'milling' %}" class="read-more">Read More</a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-2 views-row-even">
                  <article about="/high-quality-products" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                     <div class="node__content">
                        <h2 class="node__title"><a href={% url 'our_products' %}" rel="bookmark">High-Quality Products </a></h2>
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                           <div class="field__items">
                              <div class="field__item even" property="content:encoded">
                                 <p>From flooring to counter tops to tables, our reclaimed wood products are handcrafted with care and attention to detail. </p>
                              </div>
                           </div>
                        </div>
                        <a href="{% url 'our_products' %}" class="read-more">Read More</a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-3 views-row-odd">
                  <article about="/beautiful-results" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                     <div class="node__content">
                        <h2 class="node__title"><a href="{% url 'show_gallery' %}" rel="bookmark">Beautiful Results</a></h2>
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                           <div class="field__items">
                              <div class="field__item even" property="content:encoded">
                                 <p>As experts in antique reclaimed wood flooring, we'll help you find the perfect fit for your home, so you'll be thrilled with the results! </p>
                              </div>
                           </div>
                        </div>
                        <a href="{% url 'show_gallery' %}" class="read-more">Read More</a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-4 views-row-even views-row-last">
                  <article about="/beautiful-results" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                     <div class="node__content">
                        <h2 class="node__title"><a href="#top" rel="bookmark">Design Your Space</a></h2>
                        <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                           <div class="field__items">
                              <div class="field__item even" property="content:encoded">
                                 <p>Our AI design tool enables architects and enthusiasts to effortlessly customize and visualize floors and walls. Just take your a photo of your room, select our floor samples or wall samples!</p>
                              </div>
                           </div>
                        </div>
                        <a href="#top" class="read-more">Design Now!</a>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
