<div class="l-region l-region--postscript-first">
   <div id="block-block-3" class="block block--block front-gallery-desc block--block-3">
      <h2 class="block__title">The Magnificant Heartwood Pine Floor - Our Legacy Products </h2>
      <div class="block__content">
         <p>Whether you’re redoing an existing space with new hardwood floors, building a new home, or looking to add heart pine floors to your office or other commercial space, we’ve got a perfect style and finish for you.</p>
         <p>For more info about heartwood pine flooring and our <a href="{% url 'heartpine_products' %}">heart pine products</a>, contact us in Moncure, NC!</p>
      </div>
   </div>
   <div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
      <div class="block__content">
         <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
            <div class="view-content">
               <div class="views-row views-row-1 views-row-odd views-row-first">
                  <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_470x400/public/QSawn_07cdd.jpg?itok=p9ys0WW8)">
                     <div class="content">
                        <a href="{% url 'antique_quartersawn' %}">
                           <h3 class="node__title">Antique Quartersawn Heartpine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Our Finest Grade for Your Finest Space</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-2 views-row-even">
                  <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_470x400/public/hwp2585b.jpg?itok=vJrQCKEQ)">
                     <div class="content">
                        <a href="{% url 'select_1_heartpine' %}">
                           <h3 class="node__title">Select #1 Heartpine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>The Beauty and Heritage of a Bygone Era</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-3 views-row-odd">
                  <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_470x400/public/jane%20natural1fdf8.jpg?itok=-hyYu3XU)">
                     <div class="content">
                        <a href="{% url 'natural_antique_heartpine' %}">
                           <h3 class="node__title">Natural Antique Heartpine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Has a Style All Its Own</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-4 views-row-even">
                  <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_470x400/public/characterheartpine3966.jpg?itok=drZRIoVb)">
                     <div class="content">
                        <a href="{% url 'character_heartpine' %}">
                           <h3 class="node__title">Character Heartpine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>History in the Making</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-5 views-row-odd views-row-last">
                  <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_470x400/public/yellowheartpineee48.jpg?itok=KYO2l2qW)">
                     <div class="content">
                        <a href="{% url 'antique_southern_yellow_pine' %}">
                           <h3 class="node__title">Antique Southern Yellow Pine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Our Best Value</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="block-bean-view-galleries-link" class="block block--bean block--bean-view-galleries-link">
      <div class="block__content">
         <div  about="/block/view-galleries-link" typeof="" class="entity entity-bean bean-generic-bean">
            <div class="content">
               <div class="field field--name-field-description field--type-text-long field--label-hidden">
                  <div class="field__items">
                     <div class="field__item even">
                        <p><a href="{% url 'show_gallery' %}">View Our Gallery</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
