<div class="l-region l-region--postscript-first">
   <div id="block-block-3" class="block block--block front-gallery-desc block--block-3">
      <h2 class="block__title">Our Products & Services</h2>
      <div class="block__content">
         <p style="text-align: left;">Each piece of our wood is meticulously hand-selected and individually crafted. Whether you're rejuvenating an existing space with new hardwood floors, constructing a new home, or integrating antique flooring into your office or another commercial area, we offer the ideal style and finish to meet your vision.</p>

      </div>
   </div>
   <div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
      <div class="block__content">
         <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
            <div class="view-content">
               <div class="views-row views-row-1 views-row-odd views-row-first">
                  <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/unfinished.jpeg?itok=p9ys0WW8)">
                     <div class="content">
                        <a href="{% url 'product_floors' %}">
                           <h3 class="node__title">Reclaimed Antique Flooring</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Elegant, Durable & Resilient</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-2 views-row-even">
                  <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/stairs.jpeg?itok=vJrQCKEQ)">
                     <div class="content">
                        <a href="{% url 'product_stairs' %}">
                           <h3 class="node__title">Reclaimed Stair Treads</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Step into History with Every Tread.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-3 views-row-odd">
                  <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/kitchentop.jpeg?itok=-hyYu3XU)">
                     <div class="content">
                        <a href="{% url 'product_tabletops' %}">
                           <h3 class="node__title">Antique Counter Top & Table Tops</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Every Meal, a Touch of Timeless Tale.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-4 views-row-even">
                  <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/mantel1.jpeg?itok=drZRIoVb)">
                     <div class="content">
                        <a href="{% url 'product_mantels' %}">
                           <h3 class="node__title">Reclaimed Wood Mantels</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Handcrafted for Your Warmth.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-5 views-row-odd">
                  <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/rusticoak.jpeg?itok=drZRIoVb)">
                     <div class="content">
                        <a href="{% url 'product_panels' %}">
                           <h3 class="node__title">Oak Panels with Saw Marks</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Raw Beauty, Oak's Marked Mastery.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-6 views-row-even views-row-even">
                  <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/MaxKrohnShopWall.jpeg?itok=KYO2l2qW)">
                     <div class="content">
                        <a href="{% url 'product_panels' %}">
                           <h3 class="node__title">Wall Panels</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>One Panel at a time, Your Home's Charm.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-7 views-row-even views-row-odd">
                  <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/beam1.jpeg?itok=KYO2l2qW)">
                     <div class="content">
                        <a href="{% url 'product_beams' %}">
                           <h3 class="node__title">Antique Box Beams</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Time-Honored Strength, Beam by Beam.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-8 views-row-even views-row-even">
                  <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/barn.jpeg?itok=KYO2l2qW)">
                     <div class="content">
                        <a href="{% url 'show_gallery' %}">
                           <h3 class="node__title">Historical Barns</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Where Old Wood Finds New Life.</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-9 views-row-even views-row-last">
                  <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/ourphotos/floor.jpeg?itok=KYO2l2qW)">
                     <div class="content">
                        <a href="{% url 'show_gallery' %}">
                           <h3 class="node__title">Custom Homes</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Modern Craftsmanship Revived The Old Timbers</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="block-bean-view-galleries-link" class="block block--bean block--bean-view-galleries-link">
      <div class="block__content">
         <div  about="/block/view-galleries-link" typeof="" class="entity entity-bean bean-generic-bean">
            <div class="content">
               <div class="field field--name-field-description field--type-text-long field--label-hidden">
                  <div class="field__items">
                     <div class="field__item even">
                        <p><a href="{% url 'show_gallery' %}">View Our Gallery</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
