
<!--
<div class="l-region l-region--postscript-first">
   <div id="block-block-3" class="block block--block front-gallery-desc block--block-3">

     -->

     <div class="l-main">
       <div class="l-content">
         <a id="main-content"></a>


{% include "heartwoodandbeyond/galleries/floors.html" %}
{% include "heartwoodandbeyond/galleries/panels.html" %}
{% include "heartwoodandbeyond/galleries/stairs.html" %}
{% include "heartwoodandbeyond/galleries/tabletops.html" %}
{% include "heartwoodandbeyond/galleries/mantels.html" %}
{% include "heartwoodandbeyond/galleries/beams.html" %}



</div>
</div>

{% include "heartwoodandbeyond/galleries/gallery_styles.html" %}
