<div style="color:#333333; font-family:Arial,sans-serif; font-size:16px; margin-bottom:0; margin-left:auto; margin-right:auto; margin-top:0; max-width:2000px"></a>

<h2>A Walk Through History</h2>

<p>In the heart of Durham, North Carolina, stand the silent sentinels of a bygone era&mdash;grand, old warehouses that once brimmed with the activity of the tobacco trade. These majestic structures, with their durable #2 pine and century-old oak deckings, have held within their grains a story of history and tradition that we at Heartwood Pine Floors are now honored to bring into your homes.</p>
<a href="http://heartwoodpine.com/static/images/misc/Screen_Shot_2023-06-23_at_12.57.45_PM.png" target="_blank"><img alt="old tobacco warehouses" src="http://heartwoodpine.com/static/images/misc/Screen_Shot_2023-06-23_at_12.57.45_PM_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Harvesting Heritage</h2>

<p>In a labor of love and reverence for our heritage, Heartwood Pine Floors, is infusing new life into these centuries-old buildings. Our mission was ignited when we identified the inherent value and beauty in the seasoned, resilient wood of these tobacco warehouses. Envisioning a way to breathe new life into these storied structures, we have painstakingly harvested the #2 pine and century-old oak deckings, plank by plank.</p>
<a href="http://heartwoodpine.com/static/images/misc/ourrawmaterial50.png" target="_blank"><img alt="harvesting process" src="http://heartwoodpine.com/static/images/misc/ourrawmaterial50_Medium.png" style="display:block; margin:0px auto; max-width:100%" /></a>

<p><a href="http://heartwoodpine.com/static/images/misc/ourfactory50.png" target="_blank"><img alt="harvesting process" src="http://heartwoodpine.com/static/images/misc/ourfactory50_Medium.png" style="display:block; margin:0px auto; max-width:100%" /></a></p>

<h2>Repurposing for a Modern Purpose</h2>

<p>The wood that once formed the robust foundation of North Carolina&#39;s thriving tobacco industry has now been repurposed to create our unique, reclaimed pine and oak&nbsp;flooring. Each floorboard is a testament to time&mdash;showcasing the aged patina and intricate grain patterns that reveal a character only time can bestow.</p>
<a href="http://heartwoodpine.com/static/images/misc/IMG_3458.jpeg" target="_blank"><img alt="reclaimed pine flooring" src="http://heartwoodpine.com/static/images/misc/IMG_3458_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Preserving the Intrinsic Beauty</h2>

<p>Beyond the layers of history, it&#39;s the intrinsic qualities of the #2 pine&mdash;its durability and stunning grain&mdash;that truly set our floors apart. We have meticulously transformed this rugged timber into flooring that pairs timeless elegance with contemporary style&mdash;an enduring blend of strength and beauty.</p>
<a href="http://heartwoodpine.com/static/images/misc/unfinished_cropped.jpg" target="_blank"><img alt="flooring transformation process" src="http://heartwoodpine.com/static/images/misc/unfinished_cropped_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>The Journey of Every Step</h2>

<p>Walking on our reclaimed pine floors offers more than just a tactile experience&mdash;it&#39;s a journey through time. Each plank echoes the hustle and bustle of Durham&#39;s tobacco prime, the perseverance of the warehouse workers, and the passage of time that has imbued the wood with its unique character. The narrative of these floors extends beyond simply repurposing old wood&mdash;it&#39;s about reclaiming and preserving a slice of Durham&#39;s rich heritage.</p>
<a href="http://heartwoodpine.com/static/images/misc/rjrselectfinishmaryIMG_1007_2.JPG" target="_blank"><img alt="completed flooring" src="http://heartwoodpine.com/static/images/misc/rjrselectfinishmaryIMG_1007_2.JPG" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Discover Our Reclaimed Oak Floors</h2>

<p>Discover the charm of our Reclaimed Oak Floors, a new addition to our sustainable collection. These floorboards, crafted from over a century-old oak, bring a piece of history into your space. Every grain tells a story of time, while the rich patina and robust texture imbue your home with a unique character. With their enduring beauty and environmentally friendly attribute, these floors offer more than just a surface to tread on&mdash;they offer a conversation.&nbsp;</p>
<a href="http://heartwoodpine.com/static/images/misc/Oakpanel.jpg" target="_blank"><img alt="reclaimed oak flooring" src="http://heartwoodpine.com/static/images/misc/Oakpanel.jpg" style="display:block; margin:0px auto; max-width:100%" /></a> <a href="http://heartwoodpine.com/static/images/misc/oakfloor2_resized.jpg" target="_blank"><img alt="reclaimed oak flooring" src="http://heartwoodpine.com/static/images/misc/oakfloor2_resized_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Infuse Your Walls with History</h2>

<p>Infuse your walls with history and texture with our Reclaimed Oak Panels. Each panel, marked with 100-year-old saw impressions, brings a raw, antique charm into your room. These panels are more than just a design element&mdash;they are an eco-friendly way to preserve and showcase history.&nbsp;</p>
<a href="http://heartwoodpine.com/static/images/misc/oakpatina_resized.jpg" target="_blank"><img alt="reclaimed oak panels" src="http://heartwoodpine.com/static/images/misc/oakpatina_resized_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Affordable Luxury</h2>

<p>Transform your living spaces without breaking the bank! At Heartwood Pine Floors, we believe in making the beauty and charm of reclaimed flooring accessible to everyone. Our competitively priced reclaimed oak floors and panels come steeped in history and character, without carrying a hefty price tag. Infused with the enduring strength of 100-year-old oak and boasting unique saw marks, our flooring options are an affordable way to introduce timeless elegance into your home. Don&#39;t miss out on this chance to enrich your interiors with a touch of history, at prices that make the past an affordable investment in your future..</p>
<a href="http://heartwoodpine.com/static/images/misc/pricing.png" target="_blank"><img alt="reclaimed oak panels" src="http://heartwoodpine.com/static/images/misc/pricing.png" style="display:block; margin:0px auto; max-width:100%" /></a> <a href="https://www.heartwoodpine.com" style="background-color: #008CBA; color: #fff; display: block; width: 50%; margin: 16px auto; padding: 12px; text-align: center; text-decoration: none;" target="_blank">Discover More</a>

</div>
