
      <form class="webform-client-form webform-client-form-4 webform-client-form-4" action="{% url 'respond_to_testimonial' %}" method="post" id="webform-client-form-4" accept-charset="UTF-8">{% csrf_token %}
         <div>
            <fieldset class="webform-component-fieldset form-row webform-component--name form-wrapper">
               <div class="fieldset-wrapper">
                  <div  class="form-item webform-component webform-component-textfield webform-component--name--name">
                     <label for="edit-submitted-name-name">Name <span class="form-required" title="This field is required.">*</span></label>
                     <input required="required" type="text" id="edit-submitted-name-name" name="submitted[name][name]" value="" size="60" maxlength="128" class="form-text required" />
                  </div>
               </div>
            </fieldset>
            <div  class="form-item webform-component webform-component-textarea webform-component--comments">
               <label for="edit-submitted-comments">Comment: </label>
               <div class="form-textarea-wrapper resizable"><textarea id="edit-submitted-comments" name="submitted[comments]" cols="60" rows="5" class="form-textarea"></textarea></div>
            </div>
            <input type="hidden" name="details[sid]" />
            <input type="hidden" name="details[page_num]" value="1" />
            <input type="hidden" name="details[page_count]" value="1" />
            <input type="hidden" name="details[finished]" value="0" />
            <input type="hidden" name="form_build_id" value="form-w2aa-WZ3kXKUitR4KJUjmEx_wnfVggPDjEiq16pa6UU" />
            <input type="hidden" name="form_id" value="webform_client_form_4" />
            <input type="hidden" name="honeypot_time" value="1647098452|Cb-31akQBjoT57CV2nKhJF9y5eC5Lsx2BY-Vs4-NDPk" />
            <div class="url-textfield">
               <div class="form-item form-type-textfield form-item-url">
                  <label for="edit-url">Leave this field blank </label>
                  <input autocomplete="off" type="text" id="edit-url" name="url" value="" size="20" maxlength="128" class="form-text" />
               </div>
            </div>
            <!--
            <fieldset class="captcha form-wrapper">
               <legend><span class="fieldset-legend">CAPTCHA</span></legend>
               <div class="fieldset-wrapper">
                  <div class="fieldset-description">This question is for testing whether or not you are a human visitor and to prevent automated spam submissions.</div>
                  <input type="hidden" name="captcha_sid" value="349651" />
                  <input type="hidden" name="captcha_token" value="5c35cc5df9b99dd8288d4ec33a67cab0" />
                  <input type="hidden" name="captcha_response" value="Google no captcha" />
                  <div class="g-recaptcha" data-sitekey="6LdGJrgfAAAAAPVb2evmpUoy40D0ZlJX4yB7yWEK" data-theme="light" data-type="image"></div>
               </div>
            </fieldset>
            -->

{% include 'heartwoodandbeyond/tags/recaptcha.html' %}

            <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Submit" /></div>
         </div>
      </form>
