{% extends "mobile/home/base.html" %}

        {% block pageheader %}{{ page_title }} {% endblock %}

{% block content %}
{% include "mobile/home/pagefooter.html" %}

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Welcome to Andrew & Amanda</strong>
  <p>
We offer high quality shooting gears. It is your source for top quality LED lights, tactical scopes, batteries, gun grips, mounts, and much more. The products we offer are both economical to operate and environmentally friendly.
  </p>
</div>




{% endblock %}
