{% extends "mobile/home/base.html" %}

        {% block pageheader %}{{ page_title }} {% endblock %}

{% block content %}

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Email</strong>
  <p>
  <a href="mailto:sales@andrew-amanda.com" class="ui-link">sales@andrew-amanda.com</a>
  </p>
</div>

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Telephone</strong>
  <p>Monday thru Friday, 9am - 6pm EST: 
      <a href="tel:1.800.387.7356" class="ui-link">1.800.387.7356</a> </p>
</div>

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Fax</strong>
  <p>1.919.443.1155</p>
</div>

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Mail</strong>
  <p>
    Andrew & Amanda<br>
    2722 NC 87 S<br>
    Moncure, NC 27559
  </p>
</div>




{% endblock %}
