{% extends "mobile/home/base.html" %}

        {% block pageheader %}{{ page_title }} {% endblock %}

{% block content %}

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Order Shipping</strong>
  <p>
	We ship all orders within one business day, except for the items which are back ordered. Majority of orders are shipped by the United Postal Service. 
  </p>
</div>

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Product Returning</strong>
  <p>Products can be returned for a full refund within 30 days of purchases, assuming products are in new and unused condition. An Return Material Authorization (RMA) number must be obtained prior to the return.</p>
</div>

<div class="ui-body ui-body-c ui-corner-all" style="margin-bottom:5px;">
  <strong>Product Warranty</strong>
  <p>We offer free exchange for any defective products within 30 days of purchase; After 30 days, warranty services are provided by the manfacturers. For products manufactured overseas, we help our customers with shipping to the manufacturers with a minimal charge to save our customers the expensive international shipping cost.</p>
</div>





{% endblock %}
