{% extends "mobile/home/base.html" %}
{% load checkout_tags %}
{% load cache %}
{% load autocomplete %}


        {% block pageheader %}{{ page_title }} {% endblock %}

{% block content %}
{% include "mobile/home/pagefooter.html" %}

      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<input type="hidden" name="pInterested_id" value="{{product_interested.id}}" />
<input type="hidden" name="pInterested_name" value="{{product_interested.name}}" />
<input type="hidden" name="pInterested_sale_price" value="{{product_interested.price}}" />
<input type="hidden" name="pInterested_qty" value="{{interested_qty}}" />

<div class="ui-body ui-body-a ui-corner-all OfferBoxHeader">
<h3>Add one or more products</h3>
<div>
                {% cache 3600 offerpanel_html %}
                        {% autocomplete_offerlist %}
                {% endcache %}
<br>
</div>
<!-- this section uses the old getAllProducts()
<div>
      <ul id="productList" name="keywords" data-id="newId" data-icon="plus" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Filter product by name, brand..." data-theme="b"></ul>
<br>
</div>
-->
</div>
<br>
<div class="ui-body ui-body-e ui-corner-all">
<h3>Your offer basket <span class="offercount"> (count: 0)</span></h3>
	<div id="offerbasket">
		<p id="empty">Your offer basket is empty</p>
	</div><!-- /content -->
</div>
<form class="BuyItNowForm" method="POST" data-ajax="false">{% csrf_token %}
<div class="ui-body ui-body-c ui-corner-all" id="buyitnowbox" style="display:none">
	<fieldset class="ui-grid-a">
		<div class="ui-block-a" style="font-weight:bold;">Buy It Now Price:</div>
		<div class="ui-block-b BuyItNowPrice"> </div>
	</fieldset>
        <button type="submit" name="BuyItNow" value="BuyItNow" data-theme="e" >Buy It Now!</button>
</div>
</form>
<br>
<form class="MakeOfferForm" method="POST" data-ajax="false">{% csrf_token %}
<div class="ui-body ui-body-c ui-corner-all" id="offerbox" style="display:none">
        <div data-role="fieldcontain" style="display: table-row;">
              <label for="offerprice" style="display: table-cell;font-weight:bold;padding-left:5px;padding-right:15px;">Your offer($):</label>
	      <input type='number' step="0.01" min="0" name='offerprice' class='BuyerOfferPrice' id='offerprice' onkeypress='return isNumber(event);' style="display:table-cell;" />
	</div>

        <div data-role="fieldcontain" style="display: table-row;">
              <label for="buyer_comment" style="display: table-cell;font-weight:bold;padding-left:5px;padding-right:15px;">Your message:</label>
	      <input type='text' name='buyer_comment' id='buyer_comment' placeholder='Optional' style="display:table-cell;"/>
	</div>
        <div data-role="fieldcontain" style="display: table-row;">
              <label for="ShippingCountry" style="display: table-cell;font-weight:bold;padding-left:5px;padding-right:15px;">Shipping Country:</label>
	      <input type='text' name='ShippingCountry' id='ShippingCountry' placeholder='United States' value="United States" style="display:table-cell;" />
	</div>
        <button type="submit" name="MakeAnOffer" value="MakeAnOffer" data-theme="b">Make An Offer</button>
</div>
</form>
     <script type="text/javascript">
      /*<![CDATA[*/

        $(document).on("pagecreate", function() {

	 	/*
		 * this action was done using the browser side caching jStorage
      		getAllProducts("/mobile/productautocomplete");
      		$(document).on("listviewbeforefilter", "#productList",function(e,data){
            		products4MakeOffer($(this), data);
      		});
		*/

		/* this is the new pattern, the autocomplete drop down is rendered
		 * at the server
		 */
                $('.productList').children('li').bind('click', function(e) {
                	var pId = $(this).attr('product-id');
                	var pName = $(this).attr('product-name');
                	var pSalePrice = $(this).attr('sale-price');
			$('.productList').hide();
                	add2Offer(pId, pName, pSalePrice, 1);
                        $.mobile.silentScroll(0);
                });

                $(document).on("listviewbeforefilter", ".productList",function(e,data){
			$('.productList').show();

                });
		/* end */


   		pid = $("input[name=pInterested_id]").val();
   		pName = $("input[name=pInterested_name]").val();
   		pPrice = $("input[name=pInterested_sale_price]").val();
   		pQty = $("input[name=pInterested_qty]").val();
		if (pid>0) {
			add2Offer(pid, pName, pPrice, pQty);
		}



	})

	$(window ).on( "orientationchange", function( event ) {
	});


      /*]]>*/
      </script>

{% endblock %}
