{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}
  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="{% url 'hpwhome' %}">Home</a></li><li><a href="{% url 'our_heartpine_grades' %}">Our Services</a></li><li>Antique Quartersawn Heartpine</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--full node--service--full">
  <header>
          <div class="field field--name-field-display-title field--type-text field--label-hidden"><div class="field__items"><div class="field__item even">Our Finest Grade for Your Space</div></div></div>      <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Simply the best of the best—hand-selected and made from 100% longleaf <a href="{% url 'show_why' %}">heartwood pine</a>. Our quartersawn wood flooring is painstakingly reclaimed to its original beauty in our Chatham County, NC facility. The rich burgundy colors and tight linear grain patterns evoke the wood’s true character and history. For more info about quartersawn heart pine in Moncure, NC, call us today!</p>
</div></div></div>
          <h1 class="node__title">Antique Quartersawn Heartpine</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service_primary/public/QSawn%20(1)_01090.jpg?itok=OXrHPv_y" width="800" height="400" alt="" /></div></div></div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Every step you take on your new antique quartersawn heart pine floor will echo your appreciation of the past, your commitment to beauty, and the value you place on having the utmost in quality.</p>
<p>Antique Quartersawn Heart Pine is a special cut of wood that produces a tight linear grain face pattern. Knot-free with rich red and burgundy tones, this rare and elegant antique heartwood pine flooring provides a home with formal beauty and the look of spacious luxury.</p>
<h2>Specifications</h2>
<ul>
<li>Made from 100% reclaimed Antique Longleaf Heartwood Pine.</li>
<li>Content: Sawn From 100% heart pine.</li>
<li>Grain Pattern: 100% tight edge-sawn linear pattern.</li>
<li>Density: 8 – 30 growth rings per inch.</li>
<li>Knots: No knots</li>
<li>Lengths: 1 ft. to 10 ft.</li>
<li>Widths: 2 in. to 5 in.</li>
<li>Thickness: ½ in. or ¾ in. tongue and groove</li>
<li>Color: • Color: Uniform tones of red, amber, and burgundy.</li>
<li>• Kiln-dried to 6-8 % moisture content.</li>
</ul>
<p>Professionally selected and sorted and bundled in random lengths.</p>
<p>The current lead time for delivery from our Chatham County, NC facility is one to two weeks; however please call regarding our quartersawn wood flooring inventory as we have many grades in stock for immediate shipping.</p>
</div></div></div><div class="field field--name-field-call-out field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><h3>Ready to add premium quality flooring to your home?</h3>
<p><a class="button" href="{% url 'free_quote' %}">Get your sample kit!</a></p>
</div></div></div>  </div>

    </article>
  </div>
</div>
          </div>

      <aside class="l-region l-region--sidebar">
    <div id="block-menu-block-4" class="block block--menu-block block--nav-submenu block--menu-block-4">
        <div class="block__content">
    <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-699 menu-level-1">
  <ul class="menu"><li class="first leaf active-trail active menu-mlid-723"><a href="{% url 'antique_quartersawn' %}" title="Antique Quartersawn Heart Pine in Moncure, NC" class="active-trail active">Antique Quartersawn Heart Pine in Moncure, NC</a></li>
<li class="leaf menu-mlid-724"><a href="{% url 'select_1_heartpine' %}" title="Select #1 Heartpine">Select #1 Heartpine</a></li>
<li class="leaf menu-mlid-726"><a href="{% url 'natural_antique_heartpine' %}" title="Natural Antique Heartpine">Natural Antique Heartpine</a></li>
<li class="leaf menu-mlid-725"><a href="{% url 'character_heartpine' %}" title="Character Heartpine">Character Heartpine</a></li>
<li class="leaf menu-mlid-722"><a href="{% url 'antique_southern_yellow_pine' %}" title="Antique Southern Yellow Pine">Antique Southern Yellow Pine</a></li>
<li class="last leaf menu-mlid-1189"><a href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}">American Tobacco Co. Tobacco Pine Rustic</a></li>
</ul></div>
  </div>
</div>

   {% include "heartwoodandbeyond/left_panel.html" %}
</aside>
</div>
{% endblock %}
