{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}

  <div class="l-preface">
      <div class="l-region l-region--preface-first">
    <div id="block-views-slideshow-front" class="block block--views block--views-slideshow-front">
        <div class="block__content">
    <div class="view view-slideshow view-id-slideshow view-display-id-front view-dom-id-ccded8269dffb4245d2fcc922a54ea24">



      <div class="view-content">
      <div  id="flexslider-1" class="flexslider optionset-default">
  <ul class="slides"><li>  <div about="/handcrafted-timeless" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('sites/default/files/styles/slideshow_homepage/public/hero-image-heartwood-pine58be.jpg?itok=oSDc9CWJ');">
    <div class="slide-image">
    	<div class="slide-content">
    	  <h2 class="node__title">Handcrafted. Timeless.</h2>
    	  <div class="node__content">
    	    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>With care and attention, our expert craftsmen give historic heartpine a new life, adding value and charm to your home.</p>
<p><a class="button" href="{% url 'reclaiming_process' %}">Learn More</a></p>
</div></div></div>    	  </div>
    	</div>

    </div>
  </div>
</li>
<li>  <div about="/flooring-character" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('sites/default/files/styles/slideshow_homepage/public/IMG_870577d0.jpg?itok=FWDzyG9X');">
    <div class="slide-image">
    	<div class="slide-content">
    	  <h2 class="node__title">Flooring With Character</h2>
    	  <div class="node__content">
    	    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>It's rich history and unrivaled beauty makes Heartwood Pine flooring the best choice to add interest and elegance to any home!</p>
<p><a class="button" href="{% url 'our_heartpine_grades' %}">Learn More</a></p>
</div></div></div>    	  </div>
    	</div>

    </div>
  </div>
</li>
</ul></div>
    </div>






</div>  </div>
</div>
  </div>
      <div class="l-region l-region--preface-second">
    <div id="block-views-benefits-front" class="block block--views benefits-hero block--views-benefits-front">
        <div class="block__content">
    <div class="view view-benefits view-id-benefits view-display-id-front view-dom-id-927f232acb54f0b81ec41807823fddf1">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <article about="/personalized-service" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
  <div class="node__content">
              <h2 class="node__title"><a href="{% url 'shipping' %}" rel="bookmark">Personalized Service</a></h2>
        <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>From the beginning of your home project to the end, our team will be there every step of the way, providing support and expertise. </p>
</div></div></div>        <a href="{% url 'show_about' %}" class="read-more">Read More</a>
        </div>
  </article>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <article about="/high-quality-products" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
  <div class="node__content">
              <h2 class="node__title"><a href="{% url 'contact' %}" rel="bookmark">High-Quality Products </a></h2>
        <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>From flooring to counter tops to tables, our reclaimed heartpine products are handcrafted with care and attention to detail. </p>
</div></div></div>        <a href="{% url 'contact' %}" class="read-more">Read More</a>
        </div>
  </article>
  </div>
  <div class="views-row views-row-3 views-row-odd views-row-last">
    <article about="/beautiful-results" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
  <div class="node__content">
              <h2 class="node__title"><a href="{% url 'show_about' %}" rel="bookmark">Beautiful Results</a></h2>
        <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>As experts in antique Heartpine flooring, we'll help you find the perfect fit for your home, so you'll be thrilled with the results! </p>
</div></div></div>        <a href="{% url 'show_about' %}" class="read-more">Read More</a>
        </div>
  </article>
  </div>
    </div>






</div>  </div>
</div>
  </div>
          </div>

      <div class="l-breadcrumb">
          </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/finest-heart-pine-floors-moncure-nc" typeof="foaf:Document" class="node node--page node--full node--page--full">
  <header>

          <h1 class="node__title">Finest Heart Pine Floors in Moncure, NC</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Heartwood Pine Floors has been crafting elegant <a href="{% url 'antique_quartersawn' %}">antique heart pine</a> floors in Moncure, NC. Since 1982, we have been carefully reclaiming mighty timbers from eighteenth-century industrial buildings that were destined for demolition. Beams cut from 400-year-old longleaf pines are recycled into antique heartwood pine flooring at our millworks in Chatham County, North Carolina, and shipped factory direct to our customers.</p>
<p><a class="button" href="{% url 'show_about' %}">Learn More About Us</a></p>
</div></div></div>  </div>

    </article>
  </div>
</div>
          </div>

      </div>

  <div class="l-postscript">
      <div class="l-region l-region--postscript-first">
    <div id="block-block-3" class="block block--block front-gallery-desc block--block-3">
        <h2 class="block__title">Find the Heartwood Pine Wood Floor For You</h2>
      <div class="block__content">
    <p>Whether you’re redoing an existing space with new hardwood floors, building a new home, or looking to add heart pine floors to your office or other commercial space, we’ve got a perfect style and finish for you.</p>
<p>For more info about heartwood pine flooring and our <a href="{% url 'heartpine_products' %}">heart pine products</a>, contact us in Moncure, NC!</p>
  </div>
</div>
<div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
        <div class="block__content">
    <div class="view view-services view-id-services view-display-id-front_all view-dom-id-1f2fc5b2b68ef09cfb2d7cd60dbe343c">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url(sites/default/files/styles/focal_point_scale_and_crop_470x400/public/QSawn%20(1)_07cdd.jpg?itok=p9ys0WW8)">

  <div class="content">
    <a href="{% url 'antique_quartersawn' %}">
      <h3 class="node__title">Antique Quartersawn Heartpine</h3>
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Our Finest Grade for Your Finest Space</p>
</div></div></div>          </a>


  </div>


</article>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url(sites/default/files/styles/focal_point_scale_and_crop_470x400/public/hwp2585b.jpg?itok=vJrQCKEQ)">

  <div class="content">
    <a href="{% url 'select_1_heartpine' %}">
      <h3 class="node__title">Select #1 Heartpine</h3>
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>The Beauty and Heritage of a Bygone Era</p>
</div></div></div>          </a>


  </div>


</article>
  </div>
  <div class="views-row views-row-3 views-row-odd">
    <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url(sites/default/files/styles/focal_point_scale_and_crop_470x400/public/jane%20natural1fdf8.jpg?itok=-hyYu3XU)">

  <div class="content">
    <a href="{% url 'natural_antique_heartpine' %}">
      <h3 class="node__title">Natural Antique Heartpine</h3>
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Has a Style All Its Own</p>
</div></div></div>          </a>


  </div>


</article>
  </div>
  <div class="views-row views-row-4 views-row-even">
    <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url(sites/default/files/styles/focal_point_scale_and_crop_470x400/public/characterheartpine3966.jpg?itok=drZRIoVb)">

  <div class="content">
    <a href="{% url 'character_heartpine' %}">
      <h3 class="node__title">Character Heartpine</h3>
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>History in the Making</p>
</div></div></div>          </a>


  </div>


</article>
  </div>
  <div class="views-row views-row-5 views-row-odd views-row-last">
    <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url(sites/default/files/styles/focal_point_scale_and_crop_470x400/public/yellowheartpineee48.jpg?itok=KYO2l2qW)">

  <div class="content">
    <a href="{% url 'antique_southern_yellow_pine' %}">
      <h3 class="node__title">Antique Southern Yellow Pine</h3>
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Our Best Value</p>
</div></div></div>          </a>


  </div>


</article>
  </div>
    </div>






</div>  </div>
</div>
<div id="block-bean-view-galleries-link" class="block block--bean block--bean-view-galleries-link">
        <div class="block__content">
    <div  about="/block/view-galleries-link" typeof="" class="entity entity-bean bean-generic-bean">

    <div class="content">
        <div class="field field--name-field-description field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p><a href="{% url 'show_gallery' %}">View Our Gallery</a></p>
</div></div></div>    </div>
</div>
  </div>
</div>
  </div>
    <div class="l-wrap--postscript-second" style="background-image:url('');">
        <div class="l-region l-region--postscript-second">
    <div id="block-views-testimonials-front" class="block block--views block--views-testimonials-front">
        <div class="block__content">
    <div class="view view-testimonials view-id-testimonials view-display-id-front view-dom-id-ae863c23e1cab052ee1241cd5a22eb9b">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    <div about="/bob-f" typeof="sioc:Item foaf:Document" class="node node--testimonial node--promoted node-teaser node--teaser node--testimonial--teaser">

  <div class="node__content" itemscope itemtype="http://schema.org/Review">

    <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/LocalBusiness">
      <meta itemprop="name" content="Heartwood Pine Floors">
    </span>

    <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <meta itemprop="worstRating" content="1">
      <span itemprop="ratingValue" content="5" class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </span>
      <meta itemprop="bestRating" content="5">
    </div>

    <div itemprop="description">
      <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Larry worked with our architect to get the rustic patina we were looking for and our floors came out perfect. It was a pleasure to work with the folks from Heartwood Pine floors.</p>
</div></div></div>    </div>
    <div class="field--title" itemprop="author">
      Bob F.    </div>



  </div>

</div>
  </div>
    </div>






</div>  </div>
</div>
<div id="block-bean-our-history" class="block block--bean block--bean-our-history">
        <div class="block__content">
    <div  about="/block/our-history" typeof="" class="entity entity-bean bean-generic-bean">

    <div class="content">
        <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="sites/default/files/image-heartwood-pine.jpg" width="525" height="313" alt="Heart Pine Floors in Moncure, NC" title="Heart Pine Floors in Moncure, NC" /></div></div></div><div class="field field--name-field-description field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><h3>Our History</h3>
<p>Heart pine is the finest lumber ever grown. Early American settlers discovered a vast forest of over 95 million acres spanning from the Southern Atlantic shoreline to the Mississippi River. This forest grew trees four feet in diameter and up to 150 feet tall. These slow-growth <a href="why-heartpine.html">heartwood pine</a> trees matured in 400 to 500 years.</p>
<p><a class="button" href="{% url 'show_about' %}">Find Out More</a></p>
</div></div></div>    </div>
</div>
  </div>
</div>
<div id="block-webform-client-block-76" class="block block--webform block--webform-client-block-76">
        <h2 class="block__title">Request More Information</h2>
      <div class="block__content">
    <article about="/request-more-information" typeof="sioc:Item foaf:Document" class="node node--webform node--promoted node--full node--webform--full">
  <header>

          <h1 class="node__title">Request More Information</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>We would love to talk with you about our heartwood pine reclaimed wood flooring.</p>
</div></div></div><form class="webform-client-form webform-client-form-76 webform-client-form-76" action="https://www.heartwoodpine.com/finest-heart-pine-floors-moncure-nc" method="post" id="webform-client-form-76" accept-charset="UTF-8"><div><fieldset class="webform-component-fieldset webform-component--fieldset form-wrapper"><div class="fieldset-wrapper"><div  class="form-item webform-component webform-component-textfield webform-component--fieldset--first-name">
  <label for="edit-submitted-fieldset-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" type="text" id="edit-submitted-fieldset-first-name" name="submitted[fieldset][first_name]" value="" size="60" maxlength="128" class="form-text required" />
</div>
<div  class="form-item webform-component webform-component-textfield webform-component--fieldset--last-name">
  <label for="edit-submitted-fieldset-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" type="text" id="edit-submitted-fieldset-last-name" name="submitted[fieldset][last_name]" value="" size="60" maxlength="128" class="form-text required" />
</div>
</div></fieldset>
<fieldset class="webform-component-fieldset webform-component--fieldset2 form-wrapper"><div class="fieldset-wrapper"><div  class="form-item webform-component webform-component-email webform-component--fieldset2--email">
  <label for="edit-submitted-fieldset2-email">Email <span class="form-required" title="This field is required.">*</span></label>
 <input required="required" class="email form-text form-email required" type="email" id="edit-submitted-fieldset2-email" name="submitted[fieldset2][email]" size="60" />
</div>
<div  class="form-item webform-component webform-component-number webform-component--fieldset2--phone">
  <label for="edit-submitted-fieldset2-phone">Phone </label>
 <input type="text" id="edit-submitted-fieldset2-phone" name="submitted[fieldset2][phone]" step="any" class="form-text form-number" />
</div>
</div></fieldset>
<div  class="form-item webform-component webform-component-textarea webform-component--details">
  <label for="edit-submitted-details">Details <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper resizable"><textarea required="required" id="edit-submitted-details" name="submitted[details]" cols="60" rows="5" class="form-textarea required"></textarea></div>
</div>
<div  class="form-inline form-item webform-component webform-component-radios webform-component--sign-up-for-our-monthly-newsletter">
  <label for="edit-submitted-sign-up-for-our-monthly-newsletter">Sign up for Our Monthly Newsletter? </label>
 <div id="edit-submitted-sign-up-for-our-monthly-newsletter" class="form-radios"><div class="form-item form-type-radio form-item-submitted-sign-up-for-our-monthly-newsletter">
 <input type="radio" id="edit-submitted-sign-up-for-our-monthly-newsletter-1" name="submitted[sign_up_for_our_monthly_newsletter]" value="option1" class="form-radio" />  <label class="option" for="edit-submitted-sign-up-for-our-monthly-newsletter-1">Yes </label>

</div>
<div class="form-item form-type-radio form-item-submitted-sign-up-for-our-monthly-newsletter">
 <input type="radio" id="edit-submitted-sign-up-for-our-monthly-newsletter-2" name="submitted[sign_up_for_our_monthly_newsletter]" value="option2" class="form-radio" />  <label class="option" for="edit-submitted-sign-up-for-our-monthly-newsletter-2">No </label>

</div>
</div>
</div>
<input type="hidden" name="details[sid]" />
<input type="hidden" name="details[page_num]" value="1" />
<input type="hidden" name="details[page_count]" value="1" />
<input type="hidden" name="details[finished]" value="0" />
<input type="hidden" name="form_build_id" value="form-UwhbmLijzdyI6G43kQl-uL3_AhR65RkjLd9Re-_j8wY" />
<input type="hidden" name="form_id" value="webform_client_form_76" />
<input type="hidden" name="honeypot_time" value="1647098438|6av8D1WT1W4tPsgD4eAWIKInRtCeJvb4YOltGEVz-o8" />
<div class="url-textfield"><div class="form-item form-type-textfield form-item-url">
  <label for="edit-url">Leave this field blank </label>
 <input autocomplete="off" type="text" id="edit-url" name="url" value="" size="20" maxlength="128" class="form-text" />
</div>
</div>

{% include 'heartwoodandbeyond/tags/recaptcha.html' %}}

<div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Send Now" /></div></div></form>  </div>

    </article>
  </div>
</div>
  </div>
    </div>
      <div class="l-region l-region--postscript-third">
    <div id="block-bean-made-with-heart-in-north-carolin" class="block block--bean block--bean-made-with-heart-in-north-carolin">
        <div class="block__content">
    <div  about="/block/made-with-heart-in-north-carolin" typeof="" class="entity entity-bean bean-generic-bean">

    <div class="content">
        <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="sites/default/files/image-north-carolina%402x.png" width="376" height="146" alt="" /></div></div></div><div class="field field--name-field-description field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Made With Heart in North Carolina</p>
</div></div></div>    </div>
</div>
  </div>
</div>
  </div>
      </div>
{% endblock %}
