{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}



  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="{% url 'hpwhome' %}">Home</a></li><li>Heartpine Products</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/heartpine-products" typeof="foaf:Document" class="node node--page node--full node--page--full">
  <header>

          <h1 class="node__title">Heartpine Products</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><h2>Reclaimed Heartpine Stair Treads<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/_MG_3158.jpg" style="float:right; height:375px; margin-left:5px; margin-right:5px; width:250px" /></h2>
<p>Heartwood Pine Floors Inc. can provide solid stair treads from reclaimed heartpine for any stairway. We can match the grain and color of your pine flooring and provide custom treads for spiral stairs, landings in straight or radius design. We can match stair treads with risers handrail and landing nosing for a beautiful complete heartwood pine stairway for your home.</p>
<h2>Custom Heartwood Pine Mantles</h2>
<p>We purchase very large heartwood pine beams from mills that were built in the 1800s and we have the equipment to saw these beams into solid heartpine Mantles for your home. Simply measure the width thickness and length of the mantle and we can saw a beam to your specifications. this wood is original old growth Longleaf Pine and makes a stunning addition to the fireplace.</p>
<h2>Reclaimed Heartpine Counter Tops and  Table Tops<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/IMG_2853.jpg" style="float:left; height:233px; margin:5px; width:350px" /></h2>
<p>We can build your countertops or tabletops with our stock lumber. All you need to do is bring in your dimensions and we can work with you or your builder to design a custom heartwood pine countertop for your kitchen, bathroom, wine room. </p>
<p>We can help with the right selection of the grade of wood that you want in order to get the look you are trying to achieve, be it rustic or vertical grain.</p>
<h2>
<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/miles%20bench.jpg" style="float:right; height:238px; margin-left:5px; margin-right:5px; width:350px" /></h2>
<p> </p>
<p> </p>
<p>The warmth and beauty of heartpine goes with great with country kitchens or provides an excellent contrast to modern stainless and glass designs.</p>
<p> </p>
</div></div></div>  </div>

    </article>
  </div>
</div>
          </div>

          <aside class="l-region l-region--sidebar">
       {% include "heartwoodandbeyond/left_panel.html" %}
      </aside>
      </div>
          {% endblock %}
