{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html front not-logged-in page-node page-node- page-node-25 node-type-page no-sidebar">
{% endblock %}


{% block hwp_main %}

<div class="l-preface">
<!--
   <div class="l-region l-region--preface-first">
      <div id="block-views-slideshow-front" class="block block--views block--views-slideshow-front">
         <div class="block__content">
            <div class="view view-slideshow view-id-slideshow view-display-id-front view-dom-id-9ff9a841bd37dda01b2dba464ea4b03f">
               <div class="view-content">
                  <div  id="flexslider-1" class="flexslider optionset-default">
                     <ul class="slides">
                        <li>
                           <div about="/handcrafted-timeless" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/slideshow_homepage/public/hero-image-heartwood-pine58be.jpg?itok=oSDc9CWJ');">
                              <div class="slide-image">
                                 <div class="slide-content">
                                    <h2 class="node__title">Reclaimed. Handcrafted. Timeless. Eco-Friendly. </h2>
                                    <div class="node__content">
                                       <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                          <div class="field__items">
                                             <div class="field__item even" property="content:encoded">
                                                <p>With care and attention, our expert craftsmen give historic reclaimed lumber a new life, preserving national resource, delivering value and charm to your home.</p>
                                                <p><a class="button" href="{% url 'reclaiming_process' %}">Learn More</a></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div about="/flooring-character" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/slideshow_homepage/public/IMG_870577d0.jpg?itok=FWDzyG9X');">
                              <div class="slide-image">
                                 <div class="slide-content">
                                    <h2 class="node__title">Flooring With Character</h2>
                                    <div class="node__content">
                                       <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                          <div class="field__items">
                                             <div class="field__item even" property="content:encoded">
                                                <p>It's rich history and unrivaled beauty makes fine reclaimed wood flooring the best choice to add interest and elegance to any home!</p>
                                                <p><a class="button" href="{% url 'our_heartpine_grades' %}">Learn More</a></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div about="/antique_beams" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/slideshow_homepage/public/beam1.jpg?itok=FWDzyG9X');">
                              <div class="slide-image">
                                 <div class="slide-content">
                                    <h2 class="node__title">Adding character and warmth with antique barn beams</h2>
                                    <div class="node__content">
                                       <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                          <div class="field__items">
                                             <div class="field__item even" property="content:encoded">
                                                <p>Our gorgeous hand-hewn Souther Vintage timbers make the perfect rustic wood fireplace mentels and add a natural element to rustic interor designs!</p>
                                                <p><a class="button" href="{% url 'our_heartpine_grades' %}">Learn More</a></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div about="/paneling" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/slideshow_homepage/public/paneling.jpg?itok=FWDzyG9X');">
                              <div class="slide-image">
                                 <div class="slide-content">
                                    <h2 class="node__title">An accent wall, an unique backsplash</h2>
                                    <div class="node__content">
                                       <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                          <div class="field__items">
                                             <div class="field__item even" property="content:encoded">
                                                <p>Our reclaimed wood wall paneling adds rustic appearance to your home decor, full of character with nail holes and knots creating an unique backstory!</p>
                                                <p><a class="button" href="{% url 'our_heartpine_grades' %}">Learn More</a></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div about="/paneling" typeof="sioc:Item foaf:Document" class="node node--slide node--promoted node-teaser node--teaser node--slide--teaser" style="background-image:url('{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/slideshow_homepage/public/bench.jpg?itok=FWDzyG9X');">
                              <div class="slide-image">
                                 <div class="slide-content">
                                    <h2 class="node__title">An accent wall, an unique backsplash</h2>
                                    <div class="node__content">
                                       <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                          <div class="field__items">
                                             <div class="field__item even" property="content:encoded">
                                                <p>Our reclaimed wood wall paneling adds rustic appearance to your home decor, full of character with nail holes and knots creating an unique backstory!</p>
                                                <p><a class="button" href="{% url 'our_heartpine_grades' %}">Learn More</a></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>

                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
-->

   <div class="l-region l-region--preface-second">
      <div id="block-views-benefits-front" class="block block--views benefits-hero block--views-benefits-front">
         <div class="block__content">
            <div class="view view-benefits view-id-benefits view-display-id-front view-dom-id-154e7ac971cdc3eac3cc46cfe162d446">
               <div class="view-content">
                  <div class="views-row views-row-1 views-row-odd views-row-first">
                     <article about="/personalized-service" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                        <div class="node__content">
                           <h2 class="node__title"><a href="{% url 'show_about' %}" rel="bookmark">Personalized Service</a></h2>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>From the beginning of your home project to the end, our team will be there every step of the way, providing support and expertise. </p>
                                 </div>
                              </div>
                           </div>
                           <a href="{% url 'show_about' %}" class="read-more">Read More</a>
                        </div>
                     </article>
                  </div>
                  <div class="views-row views-row-2 views-row-even">
                     <article about="/high-quality-products" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                        <div class="node__content">
                           <h2 class="node__title"><a href={% url 'contact' %}" rel="bookmark">High-Quality Products </a></h2>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>From flooring to counter tops to tables, our reclaimed wood products are handcrafted with care and attention to detail. </p>
                                 </div>
                              </div>
                           </div>
                           <a href="{% url 'contact' %}" class="read-more">Read More</a>
                        </div>
                     </article>
                  </div>
                  <div class="views-row views-row-3 views-row-odd views-row-last">
                     <article about="/beautiful-results" typeof="sioc:Item foaf:Document" class="node node--benefit node--promoted node-teaser node--teaser node--benefit--teaser">
                        <div class="node__content">
                           <h2 class="node__title"><a href="{% url 'show_about' %}" rel="bookmark">Beautiful Results</a></h2>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>As experts in antique reclaimed wood flooring, we'll help you find the perfect fit for your home, so you'll be thrilled with the results! </p>
                                 </div>
                              </div>
                           </div>
                           <a href="{% url 'show_about' %}" class="read-more">Read More</a>
                        </div>
                     </article>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="l-breadcrumb">
</div>

  {% include 'heartwoodandbeyond/tags/l-region-rustic.html' %}


<div class="l-main">
   <div class="l-content">
      <a id="main-content"></a>
      <div id="block-system-main" class="block block--system block--system-main">
         <div class="block__content">
            <article about="/finest-heart-pine-floors-moncure-nc" typeof="foaf:Document" class="node node--page node--full node--page--full">
               <header>
                  <h1 class="node__title">Finest Antique Reclaimed Wood Floors in Moncure, NC</h1>
               </header>
               <div class="node__content">
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even" property="content:encoded">
                           <p>Heartwood Pine Floors & Beyond Inc has been crafting elegant <a href="{% url 'antique_quartersawn' %}">antique heart pine</a> floors in Moncure, NC. Since 1982, we have been carefully reclaiming mighty timbers from eighteenth-century industrial buildings that were destined for demolition. Beams cut from 400-year-old longleaf pines are recycled into antique heartwood pine flooring at our millworks in Chatham County, North Carolina, and shipped factory direct to our customers. Over the years, we have been providing floors milled from antique American Natural Pines and Oaks, which have now become our main offerings </p>
                           <p><a class="button" href="{% url 'show_about' %}">Learn More About Us</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>


  {% include 'heartwoodandbeyond/tags/l-region-heartpine.html' %}


<div class="l-postscript">




<div class="l-wrap--postscript-second" style="background-image:url('');">
   <div class="l-region l-region--postscript-second">
      <div id="block-views-testimonials-front" class="block block--views block--views-testimonials-front">
         <div class="block__content">
            <div class="view view-testimonials view-id-testimonials view-display-id-front view-dom-id-8d27a35bf0e0270f5b80b1aef5dd371f">
               <div class="view-content">
                  <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                     <div about="/bob-f" typeof="sioc:Item foaf:Document" class="node node--testimonial node--promoted node-teaser node--teaser node--testimonial--teaser">
                        <div class="node__content" itemscope itemtype="http://schema.org/Review">
                           <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/LocalBusiness">
                              <meta itemprop="name" content="Heartwood Pine Floors">
                           </span>
                           <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                              <meta itemprop="worstRating" content="1">
                              <span itemprop="ratingValue" content="5" class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              </span>
                              <meta itemprop="bestRating" content="5">
                           </div>
                           <div itemprop="description">
                              <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                                 <div class="field__items">
                                    <div class="field__item even" property="content:encoded">
                                       <p>Larry worked with our architect to get the rustic patina we were looking for and our floors came out perfect. It was a pleasure to work with the folks from Heartwood Pine floors.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="field--title" itemprop="author">
                              Bob F.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="block-bean-our-history" class="block block--bean block--bean-our-history">
         <div class="block__content">
            <div  about="/block/our-history" typeof="" class="entity entity-bean bean-generic-bean">
               <div class="content">
                  <div class="field field--name-field-image field--type-image field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/image-heartwood-pine.jpg" width="525" height="313" alt="Heart Pine Floors in Moncure, NC" title="Heart Pine Floors in Moncure, NC" /></div>
                     </div>
                  </div>
                  <div class="field field--name-field-description field--type-text-long field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even">
                           <h3>Our History</h3>
                           <p>Heart pine is the finest lumber ever grown. Early American settlers discovered a vast forest of over 95 million acres spanning from the Southern Atlantic shoreline to the Mississippi River. This forest grew trees four feet in diameter and up to 150 feet tall. These slow-growth <a href="{% url 'show_why' %}">heartwood pine</a> trees matured in 400 to 500 years.</p>
<iframe width="1000" height="400" src="https://www.youtube.com/embed/LRHn6GVq7Gg"
title="Meet the owner of Heartwood Pine Floors" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                           <p><a class="button" href="{% url 'show_why' %}">Find Out More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="block-webform-client-block-76" class="block block--webform block--webform-client-block-76">
         <h2 class="block__title">Request More Information</h2>
         <div class="block__content">
            <article about="/request-more-information" typeof="sioc:Item foaf:Document" class="node node--webform node--promoted node--full node--webform--full">
               <header>
                  <h1 class="node__title">Request More Information</h1>
               </header>
               <div class="node__content">
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even" property="content:encoded">
                           <p>We would love to talk with you about our reclaimed wood flooring.</p>
                        </div>
                     </div>
                  </div>

{% include 'heartwoodandbeyond/tags/contact_us.html' %}

               </div>
            </article>
         </div>
      </div>
   </div>
</div>

{% endblock hwp_main %}

{% block page_footscript %}
{% include 'heartwoodandbeyond/tags/footscript.html' %}
{% endblock page_footscript %}
