{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<!--
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
-->
    <body class="html front not-logged-in page-node page-node- page-node-25 node-type-page no-sidebar">

{% endblock %}


{% block hwp_main %}
<div class="l-preface">
</div>
<div class="l-breadcrumb">
   <ul class="breadcrumb">
      <li><a href="{% url 'hpwhome' %}">Home</a></li>
      <li>Floor Installation Services</li>
   </ul>
</div>
<div class="l-main">
   <div class="l-content">
      <a id="main-content"></a>
      <div id="block-system-main" class="block block--system block--system-main">
         <div class="block__content">
            <article about="/about" typeof="foaf:Document" class="node node--page node--full node--page--full">
               <header>
                  <div class="field field--name-field-display-title field--type-text field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even">Expert Flooring Installation <br><i>Backed by 40 Years of Manufacturing Excellence</i></div>
                     </div>
                  </div>
                  <div class="field field--name-field-intro field--type-text-long field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even">
                           <p style="text-align: left;">At <b>Tar Heel Reclaimed </b>, For over 40 years, Heartwood Pine Floors & Beyond Inc.
                             has been a trusted name in floor manufacturing, crafting high-quality reclaimed wood floors that transform homes and businesses.
                             Building on our decades of expertise, we are excited to now offer professional floor installation services.</p>
                         </div>
                     </div>
                  </div>
                  <div class="field field--name-field-seo-title field--type-text field--label-above">
                     <div class="field-label">&nbsp;</div>
                     <div class="field-items">
                        <h1 class="field-item even">Why Choose Us?</h1>
                     </div>
                  </div>
               </header>
               <div class="node__content">
                  <div class="field field--name-field-image field--type-image field--label-hidden">
                      <div class="field__items">
                        <div class="field__item even">                     </div>
                      </div>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even" property="content:encoded">
                           <p style="text-align: left;">Our process is an alchemy of tradition and technology, involving several carefully mastered steps to ensure the final product not only meets but exceeds your expectations:</p>
                           <ol style="text-align: left;">
                           <li><strong>Experience You Can Trust:</strong> With decades of experience in manufacturing reclaimed wood floors, we understand the importance of precision and care in every installation.</li>
                           <li><strong>Complete Service:</strong> From product selection to final installation, we handle every step with attention to detail and professionalism.</li>
                           <li><strong>Custom Solutions:</strong> We tailor our services to meet the unique needs of your space, whether it’s residential, commercial, or restoration projects.</li>
                           <li><strong>Sustainable Practices: </strong> As reclaimed wood specialists, we prioritize eco-friendly materials and sustainable installation techniques.</li>

                           </ol>
                        </div>
                     </div>
                  </div>
               </div>
              </div>
              <div class="field field--name-field-seo-title field--type-text field--label-above">
                 <div class="field-label">&nbsp;</div>
                 <div class="field-items">
                    <h1 class="field-item even">Our Installation Services</h1>
                 </div>
              </div>
              <div class="node__content">
                 <div class="field field--name-field-image field--type-image field--label-hidden">
                     <div class="field__items">
                       <div class="field__item even">                     </div>
                     </div>
                 <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                    <div class="field__items">
                       <div class="field__item even" property="content:encoded">

                          <ol style="text-align: left;">
                          <li><strong>Wood Floor Installation:</strong> Whether you're installing new floors or replacing old ones, our team ensures seamless installation with a perfect finish.</li>
                          <li><strong>Floor Restoration:</strong> We breathe new life into old floors by restoring and refinishing them to their former glory.</li>
                          <li><strong>Subfloor Preparation:</strong> A solid foundation is key to a flawless floor installation. We inspect, repair, and prepare your subfloor to ensure the longevity of your new floor.</li>
                          <li><strong>Custom Design: </strong> We offer custom inlay designs and borders to make your floors a true work of art.</li>
                          <li><strong>Repair Services: </strong> Got a damaged floor? We specialize in repairing and matching wood to restore the beauty of your floors.</li>

                          </ol>
                       </div>
                    </div>
                 </div>
              </div>
             </div>

             <div class="field field--name-field-seo-title field--type-text field--label-above">
                <div class="field-label">&nbsp;</div>
                <div class="field-items">
                   <h1 class="field-item even">Our Process</h1>
                </div>
             </div>
             <div class="node__content">
                <div class="field field--name-field-image field--type-image field--label-hidden">
                    <div class="field__items">
                      <div class="field__item even">                     </div>
                    </div>
                <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                   <div class="field__items">
                      <div class="field__item even" property="content:encoded">

                         <ol style="text-align: left;">
                         <li><strong>Consultation: </strong>We begin with an on-site consultation to assess your space and flooring needs.</li>
                         <li><strong>Selection: </strong>Choose from our wide range of reclaimed wood flooring options, or let us install your pre-purchased materials.</li>
                         <li><strong>Installation: </strong>Our skilled team installs your flooring with care and precision, ensuring it meets the highest standards.</li>
                         <li><strong>Finishing Touches: </strong>From sanding to staining and sealing, we complete the job with a perfect finish, leaving your floors beautiful and durable.</li>

                         </ol>
                      </div>
                   </div>
                </div>
             </div>
            </div>


             <div class="field field--name-field-seo-title field--type-text field--label-above">
                <div class="field-label">&nbsp;</div>
                <div class="field-items">
                   <h1 class="field-item even">Gallery</h1>
                </div>
             </div>
             <div class="node__content">
                <div class="field field--name-field-image field--type-image field--label-hidden">
                    <div class="field__items">
                      <div class="field__item even">                     </div>
                    </div>
                <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                   <div class="field__items">
                      <div class="field__item even" property="content:encoded">
                         <p style="text-align: left;">Ready to transform your space? Contact us today for a free consultation and estimate.</p>

                      </div>
                   </div>
                </div>
             </div>
            </div>
            </article>
         </div>
      </div>
   </div>


</div>






{% endblock %}
