{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<!--
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
-->
    <body class="html front not-logged-in page-node page-node- page-node-25 node-type-page no-sidebar">

{% endblock %}


{% block hwp_main %}
<div class="l-preface">
</div>
<div class="l-breadcrumb">
   <ul class="breadcrumb">
      <li><a href="{% url 'hpwhome' %}">Home</a></li>
      <li>Custom Milling Service</li>
   </ul>
</div>
<div class="l-main">
   <div class="l-content">
      <a id="main-content"></a>
      <div id="block-system-main" class="block block--system block--system-main">
         <div class="block__content">
            <article about="/about" typeof="foaf:Document" class="node node--page node--full node--page--full">
               <header>
                  <div class="field field--name-field-display-title field--type-text field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even">Custom Milling Service</div>
                     </div>
                  </div>
                  <div class="field field--name-field-intro field--type-text-long field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even">
                           <p style="text-align: left;">At <b>Tar Heel Reclaimed </b>, we breathe new life into aged and weathered wooden materials,
                           transforming them into stunning reclaimed flooring that brims with character and history.
                           Our custom milling service is a doorway to sustainable luxury, offering you a chance to own
                           a piece of timeless elegance crafted from deckings, beams, old floorboards, and more.</p>
                         </div>
                     </div>
                  </div>
                  <div class="field field--name-field-seo-title field--type-text field--label-above">
                     <div class="field-label">&nbsp;</div>
                     <div class="field-items">
                        <h1 class="field-item even">How It Works</h1>
                     </div>
                  </div>
               </header>
               <div class="node__content">
                  <div class="field field--name-field-image field--type-image field--label-hidden">
                      <div class="field__items">
                        <div class="field__item even">                     </div>
                      </div>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                     <div class="field__items">
                        <div class="field__item even" property="content:encoded">
                           <p style="text-align: left;">Our process is an alchemy of tradition and technology, involving several carefully mastered steps to ensure the final product not only meets but exceeds your expectations:</p>
                           <ol style="text-align: left;">
                           <li><strong>Dry Kilning:</strong> All materials undergo dry kilning, a method that eradicates moisture and pests, laying a strong foundation for durability and longevity.</li>
                           <li><strong>Band Sawing:</strong> We utilize band sawing to cut the materials into desired shapes and sizes, maintaining the intrinsic qualities while removing imperfections.</li>
                           <li><strong>Edging:</strong> Our experts meticulously edge each piece, ensuring uniformity and creating a neat appearance that facilitates seamless installation.</li>
                           <li><strong>Cutting Tongue and Grooves: </strong> The cutting of tongue and grooves is a precise endeavor, which grants each flooring piece a snug fit, promising a floor that’s both visually appealing and structurally sound.</li>
                           <li><strong>Planing: </strong> The cutting of tongue and grooves is a precise endeavor, which grants each flooring piece a snug fit, promising a floor that’s both visually appealing and structurally sound.</li>

                           </ol>
                        </div>
                     </div>
                  </div>
               </div>
              </div>
              <div class="field field--name-field-seo-title field--type-text field--label-above">
                 <div class="field-label">&nbsp;</div>
                 <div class="field-items">
                    <h1 class="field-item even">Why Choose Our Custom Milling Service</h1>
                 </div>
              </div>
              <div class="node__content">
                 <div class="field field--name-field-image field--type-image field--label-hidden">
                     <div class="field__items">
                       <div class="field__item even">                     </div>
                     </div>
                 <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                    <div class="field__items">
                       <div class="field__item even" property="content:encoded">
                          <p style="text-align: left;">Our process is an alchemy of tradition and technology, involving several carefully mastered steps to ensure the final product not only meets but exceeds your expectations:</p>
                          <ol style="text-align: left;">
                          <li><strong>Personal Touch:</strong> The service allows you to bring your own materials, adding a personal touch to your flooring project.</li>
                          <li><strong>Sustainable Choice:</strong> Reclaiming wood is a sustainable choice, helping to preserve our environment by reducing waste.</li>
                          <li><strong>Unique Outcome:</strong> Each project results in flooring that is distinctly yours, offering an unreplicable, unique outcome that tells a story.</li>
                          <li><strong>Affordable:  </strong> Despite the custom nature of the service, we charge a minimal processing fee, ensuring you get value without a hefty price tag.</li>

                          </ol>
                       </div>
                    </div>
                 </div>
              </div>
             </div>
             <div class="field field--name-field-seo-title field--type-text field--label-above">
                <div class="field-label">&nbsp;</div>
                <div class="field-items">
                   <h1 class="field-item even">Get Started</h1>
                </div>
             </div>
             <div class="node__content">
                <div class="field field--name-field-image field--type-image field--label-hidden">
                    <div class="field__items">
                      <div class="field__item even">                     </div>
                    </div>
                <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                   <div class="field__items">
                      <div class="field__item even" property="content:encoded">
                         <p style="text-align: left;">Ready to transform aged materials into beautiful, new flooring? Reach out to our team to learn more and start your journey toward owning a floor that truly speaks to you.

Contact us to discuss your project today!</p>

                      </div>
                   </div>
                </div>
             </div>
            </div>
            </article>
         </div>
      </div>
   </div>


</div>






{% endblock %}
