{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}

  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="{% url 'hpwhome' %}">Home</a></li><li>Natural Antique Heartpine</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/gallery/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--image-gallery node--full node--image-gallery--full">
  <header>

          <h1 class="node__title">Natural Antique Heartpine</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-field-gallery-images field--type-image field--label-hidden">
        <div class="field-items">
                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0012b07c.jpg?itok=PglBwZFv" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/00120975.jpg?itok=DqS4NXmZ" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0015300f.jpg?itok=Ry3SF4QX" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/0015ee55.jpg?itok=cP90HVcv" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/0216ef44.jpg?itok=aCUWzJvI" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/02164815.jpg?itok=OePMzaph" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3152ff96.jpg?itok=k58VJA61" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3152cf92.jpg?itok=Iz7bZbEi" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3153c07b.jpg?itok=ZGlVjVw8" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/31536920.jpg?itok=_bZdIxtc" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3154623c.jpg?itok=rWQlL2tN" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3154d3a2.jpg?itok=NKv3204X" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31564df5.jpg?itok=agJKM0w9" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/31568fe2.jpg?itok=OLeFssYi" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3157f7d1.jpg?itok=YohycCAN" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/315745d7.jpg?itok=Nj9zqrv4" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31618801.jpg?itok=4gu9KA64" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3161b485.jpg?itok=4totoCeY" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/31656b5f.jpg?itok=7eFXVerL" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3165962a.jpg?itok=uxGCQF5h" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/3166f563.jpg?itok=AvhPCFWl" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/3166be83.jpg?itok=07UYmveL" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g1_2bb64.jpg?itok=nsJB_f2d" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g1_29d26.jpg?itok=PzXh39Te" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g2_2e17b.jpg?itok=BvA2ja-m" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g2_24489.jpg?itok=cZz_xN_l" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g3_05aaf.jpg?itok=zj3QVbgB" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g3_09d24.jpg?itok=tQYR9Wcb" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g4_0a1e3.jpg?itok=cNC6wBzc" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g4_042fb.jpg?itok=Xy3qAzdn" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g5_0a20e.jpg?itok=PqqDBIDZ" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g5_0d95b.jpg?itok=8QotSAEo" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_88026b97.jpg?itok=tHY_gHbi" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_8802193a.jpg?itok=lMLrYSm8" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_8815d056.jpg?itok=_jNL-lw3" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_8815e41a.jpg?itok=ErAXBZGi" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/mg_8816f4cd.jpg?itok=OrrIetSe" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/mg_881645ca.jpg?itok=6GavWXLf" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/nat1e8e5.jpg?itok=u0MVwP0t" title="" class="colorbox" data-colorbox-gallery="gallery-node-106-Xjr0Jl_cYQ0" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/nat1ea2f.jpg?itok=N53XGiPc" width="250" height="250" alt="" title="" /></a>            </div>

            </div>
</div>  </div>

    </article>
  </div>
</div>
          </div>

          <aside class="l-region l-region--sidebar">
        <div id="block-menu-block-4" class="block block--menu-block block--nav-submenu block--menu-block-4">
            <div class="block__content">
        <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-699 menu-level-1">
      <ul class="menu"><li class="first leaf active-trail active menu-mlid-723"><a href="{% url 'antique_quartersawn' %}" title="Antique Quartersawn Heart Pine in Moncure, NC" class="active-trail active">Antique Quartersawn Heart Pine in Moncure, NC</a></li>
    <li class="leaf menu-mlid-724"><a href="{% url 'select_1_heartpine' %}" title="Select #1 Heartpine">Select #1 Heartpine</a></li>
    <li class="leaf menu-mlid-726"><a href="{% url 'natural_antique_heartpine' %}" title="Natural Antique Heartpine">Natural Antique Heartpine</a></li>
    <li class="leaf menu-mlid-725"><a href="{% url 'character_heartpine' %}" title="Character Heartpine">Character Heartpine</a></li>
    <li class="leaf menu-mlid-722"><a href="{% url 'antique_southern_yellow_pine' %}" title="Antique Southern Yellow Pine">Antique Southern Yellow Pine</a></li>
    <li class="last leaf menu-mlid-1189"><a href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}">American Tobacco Co. Tobacco Pine Rustic</a></li>
    </ul></div>
      </div>
    </div>

       {% include "heartwoodandbeyond/left_panel.html" %}
    </aside>

      </div>
{% endblock %}
