{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}


  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="{% url 'hpwhome' %}">Home</a></li><li>Our Heartpine Grades</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/our-heartpine-grades" typeof="foaf:Document" class="node node--page node--full node--page--full">
  <header>

          <h1 class="node__title">Our Heartpine Grades</h1>
      </header>

  <div class="node__content">
      </div>

    </article>
  </div>
</div>
<div id="block-views-services-all" class="block block--views block--list block--views-services-all">
        <div class="block__content">
    <div class="view view-services view-id-services view-display-id-all view-dom-id-2a2602a47b22a781145f4da6c5880760">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <article about="/american-tobacco-co-reclaimed-tobacco-pine" typeof="sioc:Item foaf:Document" class="node node--service node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/pr6e35.jpg?itok=dOs0pxPd" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}" rel="bookmark">American Tobacco Co. Reclaimed Tobacco Pine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><h3><strong>Precision-milled 3/4" T&amp;G flooring  sourced from the American Tobacco Company warehouse in Durham, NC.</strong></h3>
</div></div></div>    <a class="button" href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}">View More</a>
  </div>

</article>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'antique_quartersawn' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/QSawn%20(1)_0e9c8.jpg?itok=1jqyutgR" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'antique_quartersawn' %}" rel="bookmark">Antique Quartersawn Heartpine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Simply the best of the best—hand-selected and made from 100% longleaf <a href="{% url 'show_why' %}">heartwood pine</a>. Our quartersawn wood flooring is painstakingly reclaimed to its original beauty in our Chatham County, NC facility. The rich burgundy colors and tight linear grain patterns evoke the wood’s true character and history. For more info about quartersawn heart pine in Moncure, NC, call us today!</p>
</div></div></div>    <a class="button" href="{% url 'antique_quartersawn' %}">View More</a>
  </div>

</article>
  </div>
  <div class="views-row views-row-3 views-row-odd">
    <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'select_1_heartpine' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/hwp256fb.jpg?itok=MhuZfiDd" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'select_1_heartpine' %}" rel="bookmark">Select #1 Heartpine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Our Select #1 heartpine features all the beauty and integrity of our antique heartpine with a distinct grain patterns and warm tones create an inviting atmosphere that looks great in any room. Perfect for when you want the gorgeous look of antique honey, amber and burgundy heartpine for your home or office space! </p>
</div></div></div>    <a class="button" href="{% url 'select_1_heartpine' %}">View More</a>
  </div>

</article>
  </div>
  <div class="views-row views-row-4 views-row-even">
    <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'gallery_natural_antique_heartpine' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/jane%20natural11c9e.jpg?itok=F658ImhB" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'natural_antique_heartpine' %}" rel="bookmark">Natural Antique Heartpine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>If making a big impression is what you have in mind, this wide-grained heartwood is sure to bring attention to any room. No matter what your decorating style, natural antique heartpine is the right choice that will add character to your home and be enjoyed for generations.</p>
</div></div></div>    <a class="button" href="{% url 'natural_antique_heartpine' %}">View More</a>
  </div>

</article>
  </div>
  <div class="views-row views-row-5 views-row-odd">
    <article about="/character-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'character_heartpine' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/characterheartpine15f4.jpg?itok=b1g7nykm" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'character_heartpine' %}" rel="bookmark">Character Heartpine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Our durable Character Heartpine is called that because each and every board hand-selected by us is a testament to this amazing wood’s journey from ancient forest, to factory, then remilled and ready for your home or office.</p>
</div></div></div>    <a class="button" href="{% url 'character_heartpine' %}">View More</a>
  </div>

</article>
  </div>
  <div class="views-row views-row-6 views-row-even views-row-last">
    <article about="/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--quaternary-teaser node--service--quaternary-teaser">

  <div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><a href="{% url 'antique_southern_yellow_pine' %}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/service/public/yellowheartpine7805.jpg?itok=DWJ3_LN9" width="185" height="185" alt="" /></a></div></div></div>
  <div class="node__content">
    <header>
      <h2 class="node__title"><a href="{% url 'antique_southern_yellow_pine' %}" rel="bookmark">Antique Southern Yellow Pine</a></h2>
    </header>

    <div class="field field--name-field-intro field--type-text-long field--label-hidden"><div class="field__items"><div class="field__item even"><p>Full of character and a style unique to the timber, our most affordable antique Southern Yellow Heartpine has a golden hue and high stain ability that make it an ideal choice as reclaimed wood flooring for a wide variety of home or office spaces.</p>
</div></div></div>    <a class="button" href="{% url 'antique_southern_yellow_pine' %}">View More</a>
  </div>

</article>
  </div>
    </div>






</div>  </div>
</div>
          </div>

      <aside class="l-region l-region--sidebar">
    <div id="block-menu-block-3" class="block block--menu-block block--nav-submenu block--menu-block-3">
        <div class="block__content">
    <div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-0 menu-level-2">
  <ul class="menu"><li class="first leaf menu-mlid-723"><a href="{% url 'antique_quartersawn' %}" title="Antique Quartersawn Heart Pine in Moncure, NC">Antique Quartersawn Heart Pine in Moncure, NC</a></li>
<li class="leaf menu-mlid-724"><a href="{% url 'select_1_heartpine' %}" title="Select #1 Heartpine">Select #1 Heartpine</a></li>
<li class="leaf menu-mlid-726"><a href="{% url 'natural_antique_heartpine' %}" title="Natural Antique Heartpine">Natural Antique Heartpine</a></li>
<li class="leaf menu-mlid-725"><a href="{% url 'character_heartpine' %}" title="Character Heartpine">Character Heartpine</a></li>
<li class="leaf menu-mlid-722"><a href="{% url 'antique_southern_yellow_pine' %}" title="Antique Southern Yellow Pine">Antique Southern Yellow Pine</a></li>
<li class="last leaf menu-mlid-1189"><a href="{% url 'american_tobacco_co_reclaimed_tobacco_pine' %}">American Tobacco Co. Tobacco Pine Rustic</a></li>
</ul></div>
  </div>
</div>


   {% include "heartwoodandbeyond/left_panel.html" %}
</aside>
</div>

{% endblock %}
