{% extends "heartwoodandbeyond/faq/faq_base.html" %}

{% block faq_item %}
Installation Tips
{% endblock %}

{% block faq_header %}

<h1 class="node__title">Installation Tips</h1>
{% endblock %}

{% block faq_content %}
<div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/primary__800x400_/public/wide-boards685e.jpg?itok=t9F69Woh" width="800" height="400" alt="" /></div></div></div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Here are a few tips from the <a href="http://www.nwfa.org/" target="_blank">National Wood Flooring Association</a> that will help save time and money as you plan your antique flooring project:</p>
<ol>
<li><strong>Have a good plan.</strong> Grab a few pieces of graph paper so that you can accurately measure your space. Most folks add about 10% to the final measurements to allow for cutting and fitting. Have plan for how and where to store your furniture during the installation process, and pick up some floor protectors for your chairs and couches.</li>
<li><strong>Check the subfloor.</strong> Your new recycled antique lumber floor will look its best when it is laid down on a dry flat surface. We recommend ¾ plywood as a good subfloor—steer clear of particle board. If plan to install your floor on a concrete slab, a moisture barrier is highly recommended.</li>
<li><strong>Check for moisture.</strong> Make sure that ground floor conditions are checked for moisture levels before installation. Check around crawl spaces, foundation and sinks to make sure these areas are dry and suitable for the installation of your new recycled wood flooring.</li>
<li><strong>Acclimate.</strong> Our reclaimed factory wood is kiln dried to 6-9% moisture level.  Wood flooring should be stored in conditions that are similar to the temperature and humidity of your living space. We recommend that you bring the bundles of flooring into the house with your HVAC turned on for a few days prior to installation.</li>
<li><strong>Sand.</strong> Once the floor is nailed down it can be sanded in a three step process moving from course 60 grit paper to 80 grit and finally 100-120 grit sand paper.</li>
<li><strong>Finish. </strong>There are a variety of finishes to choose from that will bring out the color, grain and beauty of heartpine recycled wood flooring. We recommend oil or water based polyurethane, tongue oil or polymerized tongue oil. Most installers apply at least three coats.</li>
</ol>
<p>We would be happy to consult with you on issues specific to your reclaimed wood flooring project, and we have a list of reputable installers that we can recommend. Please <a href={% url 'contact' %}">contact us </a>at our Chatham County, NC headquarters at for more heartwood pine installation tips or with any additional questions during the installation process.</p>
</div></div></div>
{% endblock %}
