{% extends "heartwoodandbeyond/faq/faq_base.html" %}

{% block faq_item %}
Leave a Review
{% endblock %}

{% block faq_header %}

<h1 class="node__title">Leave a Review</h1>
{% endblock %}

{% block faq_content %}
<div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>Did you enjoy your experience with Heartwood Pine Floors? Tell the world! Word-of-mouth reviews help small businesses like our's thrive. We'd love to hear from our valued customers!</p>
<p><a class="button" href="https://www.google.com/search?q=heartwood+pine+floors+inc&amp;oq=heartwood+pine+floors+inc&amp;aqs=chrome.0.69i59j69i60l3.2755j0j7&amp;sourceid=chrome&amp;ie=UTF-8#lrd=0x89ac5f740b98cd1f:0xd3e05488814431c8,3,">Google</a>    <a class="button" href="https://www.facebook.com/Heartwood-Pine-Floors-Inc-148838151798958/">Facebook</a>    <a class="button" href="https://www.bbb.org/raleigh-durham/business-reviews/floor-materials-retail/heartwood-pine-floors-in-moncure-nc-20948">Better Business Bureau</a></p>
</div></div></div>
{% endblock %}
