{% extends "heartwoodandbeyond/faq/faq_base.html" %}

{% block faq_item %}
Shipping
{% endblock %}

{% block faq_header %}

<h1 class="node__title">Shipping</h1>
{% endblock %}

{% block faq_content %}
<div class="field field--name-field-image field--type-image field--label-hidden"><div class="field__items"><div class="field__item even"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/primary__800x400_/public/hwp72ae7.jpg?itok=4rbTU_pa" width="800" height="400" alt="" /></div></div></div><div class="field field--name-body field--type-text-with-summary field--label-hidden"><div class="field__items"><div class="field__item even" property="content:encoded"><p>When it comes to shipping your new hardwood floors, no one has as much pride or takes as much care as we do.</p>
<p>Our first step, packaging, is the last chance we have to appreciate the beauty of this reclaimed factory wood before it moves on to its new home. We band each bundle to reduce internal movement during hardwood floor shipping. Each salvaged wood flooring group is sized to keep pallets balanced and secure.</p>
<p>We then wrap the pallets in heavy plastic to insure a minimum of moisture wicking as the recycled wood flooring makes its transit to your home. For local orders near our facility in Chatham County, we usually hand-deliver the flooring. We enjoy meeting our clients and seeing their future homes!</p>
<p>For customers beyond our range that order our premier recycled wood flooring, we send our product through trusted transport companies who have vast experience in heartwood pine shipping, all the while working closely with you or your builder to reduce the complications in handling and scheduling.</p>
</div></div></div>
{% endblock %}
