{% extends "heartwoodandbeyond/faq/faq_base.html" %}

{% block faq_item %}
Choices Of Wood Finishes
{% endblock %}

{% block faq_content %}
<div style="color:#333333; font-family:Arial,sans-serif; font-size:16px; margin-bottom:0; margin-left:auto; margin-right:auto; margin-top:0; max-width:2000px"></a>

<h2>Choices Of Wood Finishes</h2>

<p>Reclaimed wood floor finishes are essential processes designed to shield these unique floorings from environmental wear. Although much stronger and more durable than fresh wood, Without an appropriate finish, reclaimed wood can face issues like cracking, drying, swelling due to moisture, and overall deterioration. Beyond just protection, the right finish amplifies the natural, timeworn beauty of reclaimed wood.

Whether you're dealing with century-old beams or newer reclaimed wood, a finish is integral. Expert craftsmen often stress its significance, with the finish often comprising a notable portion of the total cost of reclaimed wood flooring.

In this guide, we'll navigate the myriad of finishes suitable for reclaimed wood floors, explore factors to consider when opting for a finish, and detail the processes involved, among other essential insights.</p>
<a href="http://heartwoodpine.com/static/images/misc/Screen_Shot_2023-06-23_at_12.57.45_PM.png" target="_blank"><img alt="old tobacco warehouses" src="http://heartwoodpine.com/static/images/misc/Screen_Shot_2023-06-23_at_12.57.45_PM_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Penetrating Oil Finishes</h2>
<p>Penetrating wood finishes are favored by many for the authentic, organic aesthetic they bestow upon reclaimed wood floors. Unlike surface finishes that rest atop the wood, these finishes delve deep, interacting with the wood's very grain. Their intrinsic quality ensures that the wood's original texture is showcased, often highlighted in richer tones. Typically, applying these finishes involves using a rag, which ensures an even distribution of the oil and enhances the depth of penetration. Not only do they provide a robust protective layer, but their ease of application also makes them a popular choice for many. In the following sections, we'll delve into the various types of penetrating oil products that can breathe new life into your reclaimed wood floors.
  </p>

<ol>
  <li>Linseed Oil: Derived from flaxseed and is one of the most common natural oils used.</li>
  <li>Tung Oil: Extracted from the nut of the china wood tree.</li>
  <li>Danish Oil: A mixture of tung oil or polymerized linseed oil.</li>
</ol>
<a href="http://heartwoodpine.com/static/images/misc/ourrawmaterial50.png" target="_blank"><img alt="harvesting process" src="http://heartwoodpine.com/static/images/misc/ourrawmaterial50_Medium.png" style="display:block; margin:0px auto; max-width:100%" /></a>

<p><a href="http://heartwoodpine.com/static/images/misc/ourfactory50.png" target="_blank"><img alt="harvesting process" src="http://heartwoodpine.com/static/images/misc/ourfactory50_Medium.png" style="display:block; margin:0px auto; max-width:100%" /></a></p>

<h2>Water-Based Finishes</h2>

<p>Available in both oil-based and water-based forms. It offers a hard, durable finish and is resistant to moisture and chemicals.</p>
<a href="http://heartwoodpine.com/static/images/misc/IMG_3458.jpeg" target="_blank"><img alt="reclaimed pine flooring" src="http://heartwoodpine.com/static/images/misc/IMG_3458_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Polyurethane</h2>

<p>Available in both oil-based and water-based forms. It offers a hard, durable finish and is resistant to moisture and chemicals.</p>
<a href="http://heartwoodpine.com/static/images/misc/unfinished_cropped.jpg" target="_blank"><img alt="flooring transformation process" src="http://heartwoodpine.com/static/images/misc/unfinished_cropped_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Wax</h2>

<p>Offers a satiny, semi-matte finish. It's often used over another type of finish for added protection.</p>
<a href="http://heartwoodpine.com/static/images/misc/rjrselectfinishmaryIMG_1007_2.JPG" target="_blank"><img alt="completed flooring" src="http://heartwoodpine.com/static/images/misc/rjrselectfinishmaryIMG_1007_2.JPG" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Stain</h2>

<p>Not truly a finish, but it's used to color the wood before the finish is applied. It can enhance or hide the wood grain depending on the type of stain used.</p>
<a href="http://heartwoodpine.com/static/images/misc/Oakpanel.jpg" target="_blank"><img alt="reclaimed oak flooring" src="http://heartwoodpine.com/static/images/misc/Oakpanel.jpg" style="display:block; margin:0px auto; max-width:100%" /></a> <a href="http://heartwoodpine.com/static/images/misc/oakfloor2_resized.jpg" target="_blank"><img alt="reclaimed oak flooring" src="http://heartwoodpine.com/static/images/misc/oakfloor2_resized_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>French Polish</h2>

<p>A technique rather than a material, it involves applying many thin coats of shellac using a rubbing pad.</p>
<a href="http://heartwoodpine.com/static/images/misc/oakpatina_resized.jpg" target="_blank"><img alt="reclaimed oak panels" src="http://heartwoodpine.com/static/images/misc/oakpatina_resized_Medium.jpeg" style="display:block; margin:0px auto; max-width:100%" /></a>

<h2>Epoxy</h2>

<p>A finish that is extremely durable and resistant, often used for tabletops and bar tops.</p>
<a href="http://heartwoodpine.com/static/images/misc/pricing.png" target="_blank"><img alt="reclaimed oak panels" src="http://heartwoodpine.com/static/images/misc/pricing.png" style="display:block; margin:0px auto; max-width:100%" /></a> <a href="https://www.heartwoodpine.com" style="background-color: #008CBA; color: #fff; display: block; width: 50%; margin: 16px auto; padding: 12px; text-align: center; text-decoration: none;" target="_blank">Discover More</a>

<h2>Bleaching Oil</h2>

<p>Typically used on exterior woods, it lightens the tone of the wood and protects it from UV rays.</p>
<a href="http://heartwoodpine.com/static/images/misc/pricing.png" target="_blank"><img alt="reclaimed oak panels" src="http://heartwoodpine.com/static/images/misc/pricing.png" style="display:block; margin:0px auto; max-width:100%" /></a> <a href="https://www.heartwoodpine.com" style="background-color: #008CBA; color: #fff; display: block; width: 50%; margin: 16px auto; padding: 12px; text-align: center; text-decoration: none;" target="_blank">Discover More</a>

</div>

{% endblock %}
