<div class="l-region l-region--postscript-first">
   <div id="block-block-3" class="block block--block front-gallery-desc block--block-3">
      <h2 class="block__title">Discover our Wholesale Selection of Reclaimed Wood</h2>
      <div class="block__content">
         <p style="text-align: left;">Hand-sourced from historic structures and aged to perfection, our lumbers are ready to be transformed into your next project. We're now excited to offer these exquisite pieces in bulk, tailored for businesses, builders, contractors, designers and homeowners looking to incorporate genuine, aged wood into their projects.</p>

      </div>
   </div>
   <div id="block-views-services-front-all" class="block block--views block--views-services-front-all">
      <div class="block__content">
         <div class="view view-services view-id-services view-display-id-front_all view-dom-id-307cb41b1393b37981d68a4480341148">
            <div class="view-content">
               <div class="views-row views-row-1 views-row-odd views-row-first">
                  <article about="/antique-quarterswan-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/wholesale/natural.jpeg?itok=p9ys0WW8)">
                     <div class="content">
                        <a href="{% url 'wholesale_all' %}">
                           <h3 class="node__title">Stacks of naturally-graded reclaimed pine</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>kiln-dried and bandsaw-cut</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-2 views-row-even">
                  <article about="/select-1-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/wholesale/oak.jpeg?itok=vJrQCKEQ)">
                     <div class="content">
                        <a href="{% url 'wholesale_all' %}">
                           <h3 class="node__title">Stacks of Reclaimed Oak</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>kiln-dried and bandsaw-cut</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>
               <div class="views-row views-row-3 views-row-odd">
                  <article about="/natural-antique-heartpine" typeof="sioc:Item foaf:Document" class="node node--service node--promoted node--tertiary-teaser node--service--tertiary-teaser" style="background-image:url({{MEDIA_URL}}/heartwoodbeyond/wholesale/owl_hwp2.jpg?itok=-hyYu3XU)">
                     <div class="content">
                        <a href="{% url 'wholesale_all' %}">
                           <h3 class="node__title">Precision Cut QuarterSawn</h3>
                           <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                              <div class="field__items">
                                 <div class="field__item even" property="content:encoded">
                                    <p>Micro Bevel, T/G, Ready to install</p>
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                  </article>
               </div>

            </div>
         </div>
      </div>
   </div>
   <div id="block-bean-view-galleries-link" class="block block--bean block--bean-view-galleries-link">
      <div class="block__content">
         <div  about="/block/view-galleries-link" typeof="" class="entity entity-bean bean-generic-bean">
            <div class="content">
               <div class="field field--name-field-description field--type-text-long field--label-hidden">
                  <div class="field__items">
                     <div class="field__item even">
                        <p><a href="{% url 'wholesale_all' %}">View Our Gallery</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
