{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<!--<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">-->
  <body class="html front not-logged-in page-node page-node- page-node-25 node-type-page no-sidebar">
{% endblock %}


{% block hwp_main %}



  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="{% url 'hpwhome' %}">Home</a></li><li>Reclaimed Wood Product Collections</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
          <article about="/heartpine-products" typeof="foaf:Document" class="node node--page node--full node--page--full">
            <header>
              <h2>Premium Wholesale Supplier of Reclaimed Lumber</h2>
<h2 class="node__title">Sustainable, Authentic, and Ready for Bulk Orders</h2>
              <p style="text-align: left;">Welcome to our premium reclaimed lumber wholesaling service! Tailored for businesses, builders, contractors, designers and homeowners looking to incorporate genuine, aged wood into their projects, We offer an extensive range of high-quality reclaimed lumber, catering to diverse needs and preferences. Our inventory includes raw decking, expertly dried in kilns, precisely bandsawed, smoothly edged, meticulously planed, and finished with tongue and groove. Whether you're seeking materials for a specific project or just exploring options, our flexible offerings allow you to order lumber at any stage of the process. Tailor your order to fit your unique requirements and embark on your next woodworking or construction endeavor with our exceptional reclaimed lumber.</p>

            </header>
<br><br>
            <div class="node__content">
              <div class="field field--name-body field--type-text-with-summary field--label-hidden">
                <div class="field__items">
                  <div class="field__item even" property="content:encoded">
                    <h2>Raw Decking
                    </h2>
                    <p style="text-align: left;">We carry a premium selection of reclaimed pine decking, sourced from the historic Tobacco Warehouses in Durham, North Carolina. With over a century of history, these solid, rustic boards stand ready for your transformation into exquisite flooring.</p>
<img alt="" src="{{MEDIA_URL}}/images/misc/ourrawmaterial50.png" style="float:right;  margin-left:5px; margin-right:5px; " /><br><br><br><br>
                    <h2>Natural Reclaimed Pine Board</h2>
                    <p style="text-align: left;">We offer a continuous supply of high-quality reclaimed pine boards, meticulously kiln-dried and bandsawed. They're primed for precision milling, allowing you to customize the width and add tongue and groove as per your requirements.</p>
<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/wholesale/natural.jpeg" style="float:right;  margin-left:5px; margin-right:5px; " /><br><br><br><br>
                    <h2>Reclaimed Oak Board
                    </h2>
                    <p style="text-align: left;">We boast an extensive inventory of robust reclaimed oak boards, characterized by their rustic charm and sturdy nature. They're primed and ready for your milling needs. </p>
                    <p style="text-align: left;">
                    </p>
<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/wholesale/oak.jpeg" style="float:right;  margin-left:5px; margin-right:5px; " /><br><br>
<img alt="" src="{{MEDIA_URL}}/heartwoodbeyond/wholesale/oak3.jpeg" style="float:right;  margin-left:5px; margin-right:5px; " />
                                        <p></p><p></p><br><br><br>



                  </div>
                </div>
              </div>
            </div>

          </article>
        </div>
      </div>
    </div>
</div>
          {% endblock %}
