{% load catalog_filters %}
{% load catalog_tags %}



							<table align="center" bgcolor="#4186bc" border="0" cellpadding="0" cellspacing="0" width="1024">
<style type="text/css">
</style>
<tbody>
<tr>
<td align="left" bgcolor="#4186bc" height="30px" style="padding-left: 10px; padding-top: 3px; padding-bottom: 1px" width="70%">
<form action="https://stores.ebay.com/andrew-amanda-outdoors/_i.html" id="form1" method="get" name="form1" style="margin: 0px; padding: 0px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="vertical-align: middle" width="39%">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td><img src="https://www.andrew-amanda.com/static/images/eBay/left.png"/></td>
<td><input class="btxt" id="search" name="_nkw" placeholder="Search andrew-amanda-outdoors eBay Store" size="50" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; border: 0" type="text"/></td>
<td><img src="https://www.andrew-amanda.com/static/images/eBay/right.png"/></td>
</tr>
</tbody>
</table>
</td>
<td align="left" style="vertical-align: bottom; padding-left: 5px" width="61%"><label> <input id="go" name="go" src="https://www.andrew-amanda.com/static/images/eBay/go.png" type="image"/>
</label> <input name="LH_TitleDesc" type="hidden" value="1"/>
</td>
</tr>
</tbody>
</table>
</form>
</td>
<td align="right" style="padding-right: 10px; padding-bottom: 2px" width="30%"><img align="absmiddle" alt="Andrew-Amanda-Outdoors" border="0" class="sh-vs-img" height="15" src="https://www.andrew-amanda.com/static/images/eBay/favus.png" width="15"/>
<a href="https://stores.ebay.com/Andrew-Amanda-Outdoors?_trksid=p2047675.l2563" style="color: #FFFFFF; font-size: 11px; text-decoration: none; font-family: Verdana, Geneva, sans-serif">Visit my eBay store </a>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" colspan="6"><img height="6" src="https://www.andrew-amanda.com/static/images/eBay/shadow.jpg" width="1024"/></td>
</tr>
</tbody>
</table>
<table align="center" style="border-spacing: 0px; width: 100%;">
<tbody>
<tr>
<td>
<div id="ds_div">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td><br/>
<table align="center" bgcolor="#b9b9b9" border="0" cellpadding="0" cellspacing="0" width="95%">
<tbody>
<tr>
<td>
<table align="center" cellpadding="0" cellspacing="0" style="border: double 10px #000000;" width="100%">
<tbody>
<tr>
<td>
<table background="https://www.andrew-amanda.com/static/images/eBay/0119.jpg" cellpadding="75" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<table align="center" cellpadding="0" cellspacing="0" style="border: double 10px #b9b9b9;" width="100%">
<tbody>
<tr>
<td>
<table align="center" bgcolor="#ffffff" cellpadding="5" cellspacing="0" width="100%">
<tbody>
<tr valign="top">
<td background="https://www.andrew-amanda.com/static/images/eBay/0153.jpg">
<center>
<br/> <br/>
<h1 $j_uuid="83" class="label">
																															{{title}}<br/>
</h1>
<b><font color="#000000" face="Verdana,
Arial,
Helvetica,
sans-serif" size="5"> <font color="#FF0010" size="5">{{comments|safe}}</font>
</font>
<font color="#FF0010"> </font></b>
</center> <br/>
<table align="center" border="0" class="acttbl" width="95%">
<tbody>
<tr>
<td>
<table border="0" width="100%">
<tbody>
<tr>
<td align="center" valign="top">
<br/>
</td>
</tr>
<tr>
<td valign="top" width="100%">
<table align="center" border="0" cellpadding="8" class="acttbl" width="95%">
<tbody>
<tr>
<td class="acttbl" width="100%">
<font color="#000000" face="Verdana, Arial,Helvetica,sans-serif" size="2"><br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Description.png"/>
</div> </font><br/>

																																										{{description|safe}}

																																																																			<font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font><br/> <font color="#000000" face="Verdana, Arial,Helvetica,sans-serif" size="2">
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Questions.png"/>
</div> <br/>
<div align="center" id="askaquestion">
</div>
<font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font><br/> <font color="#000000" face="Verdana, Arial,Helvetica,sans-serif" size="2"><br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Accessories.png"/>
</div> <br/>
<p>
<big><big><big><span style="font-size: medium;">Want batteries and/or chargers? We have premiums batteries and chargers, add one to the shopping cart.
																																														<br/><br/>
</span></big></big></big>
</p> <big><big><big>
</big></big></big><br/> <br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Payment.png"/>
</div> <br/>
<p>
<big><big><big><span style="font-size: medium;">Paypal
																																															is the preferred method
																																															of payment for eBay. If
																																															your Paypal account is
																																															backed by a credit card,
																																															your payment will be
																																															cleared immediately, we
																																															will ship your order
																																															within one business day.
																																															If your Paypal account is
																																															backed by a checking
																																															account, the payment
																																															clearance process may
																																															take 3-5 business days. <br/>
																																															If you prefer to pay
																																															directly by your credit
																																															card, please contact us.
																																													</span></big></big></big>
</p> <big><big><big>
</big></big></big><br/> <br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Shipping.png"/>
</div> <br/>
<p>
<span style="font-size: medium;"><span style="font-family: Arial;">We
																																													ship all orders within <font face="Verdana,
Arial,
Helvetica,
sans-serif">one
																																														business day of the
																																														payment clearance. </font>
</span></span><span style="font-size: medium;"><span style="font-family: Arial;"><font face="Verdana,
Arial,
Helvetica,
sans-serif">
																																														If you choose the Express
																																														shipping, we will ship the
																																														same day if you place the
																																														order by 12pm Eastern
																																														Standard Time. Under rare
																																														circumstance, if your
																																														order can not be shipped
																																														within one business day,
																																														we will notify you. We
																																														ship most orders via USPS
																																														Service. Some by UPS or
																																														Fedex. <br/> <br/>
</font><br/> We ship to most
																																													countries around the
																																													world.  For
																																													international orders, we
																																													offer First Class
																																													International (3-8 weeks)<font face="Verdana,
Arial,
Helvetica,
sans-serif">,
																																												</font>Priority Mail Intenational
																																													(6-14 days)<font face="Verdana,
Arial,
Helvetica,
sans-serif">
																																														and Priority Mail Express
																																														International (5-9 days).</font>
																																													F</span></span><span style="font-size: medium;"><span style="font-family: Arial;">irst
																																													class international mail is
																																													the least expensive but is
																																													only trackable within the
																																													US; once a <font face="Verdana,
Arial,
Helvetica,
sans-serif">First
																																														Class International Parcel
																																														leaves a US port, it
																																														enters the Customs of the
																																														destination country, it is</font>
																																													not trackable outside of
																																													US. Lost packages are rare,
																																													but <font face="Verdana,
Arial,
Helvetica,
sans-serif">long
																																														delays by Customs are
																																														quite often in some
																																														countries, especially in <b>
</b>Russia, Brazil and Italy.
																																												</font> <br/>
</span></span>
</p>
<p>
<span style="font-size: medium;"><span style="font-family: Arial;"><font face="Verdana,
Arial,
Helvetica,
sans-serif">The
																																														non-flat-rate </font>Priority
																																													mail international <font face="Verdana,
Arial,
Helvetica,
sans-serif">and
																																														the Priority Mail Express
																																														International</font> <font face="Verdana,
Arial,
Helvetica,
sans-serif">are</font>
<font face="Verdana,
Arial,
Helvetica,
sans-serif">track</font>able
																																													<font face="Verdana,
Arial,
Helvetica,
sans-serif">to
																																														the destinations in most
																																														of the countries</font>. </span></span>
</p>
<p>
<span style="font-size: medium;"><span style="font-family: Arial;">
</span></span>
</p>
<p>
<span style="font-size: medium;"><span style="font-family: Arial;">
International Buyers – Please Note:

Import duties, taxes, and charges are not included in the item price or shipping cost. These charges are the buyer's responsibility.

Please check with your country's customs office to determine what these additional costs will be prior to bidding or buying.
																																											</span></span>
</p> <br/> <br/> </font><font color="#000000" face="Verdana,
Arial,
Helvetica,
sans-serif" size="2"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"><br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Return.png"/>
</div> <br/> We stand behind
																																											our products and want you to
																																											be completely satisfied. If
																																											you are not completely
																																											satisfied for any reason,
																																											please contact us and return
																																											your merchandise within 15
																																											days for a full refund or
																																											exchange. To return your
																																											purchase, please indicate
																																											reason for return and the
																																											action to be taken
																																											(exchange/refund). 
																																											please return the item(s) in
																																											its original packaging and in
																																											good condition.  <br/>
</font></font><br/> <font color="#000000" face="Verdana,
Arial,
Helvetica,
sans-serif" size="2"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2">Within two
																																											business days after we
																																											receive your return, we will
																																											apply your refund, less
																																											shipping, to the original
																																											form of payment. If you would
																																											prefer an exchange we will
																																											send it promptly. <br/> <br/>
<br/>
</font><br/>
<div align="center">
<img src="https://www.andrew-amanda.com/static/images/eBay/Contactus.png"/>
</div> <br/>
<p>
<br/> <span style="font-size: medium;">Whatever
																																												your question, problem, or
																																												comment, Andrew &amp;
																																												Amanda's Customer Service is
																																												here to help. If there's
																																												anything we can do, just let
																																												us know! <br/>
</span>
</p>
<p>
<span style="font-size: medium;">S</span><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"><span style="font-size: medium;">croll
																																													down to the bottom of the
																																													page and click "<span style="color: rgb(255, 0, 0);">Ask
																																														a Question</span>" link. It will
																																													direct you to the message
																																													center.
																																											</span></font><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"><span style="font-size: medium;"><font color="#000000" face="Verdana, Arial, Helvetica, sans-serif" size="2"><span style="font-size: medium;">Enter
																																															any questions about the
																																															availability, description
																																															or features of the
																																															products, or concerns
																																															about the shipping and
																																															handling of your order,</span></font></span><span style="font-size: medium;">We
																																													will gladly reply you
																																													within 12 hours.</span></font>
</p> </font><font color="#000000" face="Verdana,
Arial,
Helvetica,
sans-serif" size="2"><br/> </font>
</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
