<p>Upgraded Nitecore EA41</p>
<p>&nbsp;</p>
<p><strong><span style="color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: large;">Nitecore EA41 960 Lumens Compact LED Flashlight Searchlight - Use 4x AA [ EA4 ]<br /></span></strong><span style="color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: large;"><span style="color: #ff0010;"><br />960 Lumens &amp; 344 yards</span><br />Easy to use dual switch<br />Use commonly available 4x AA<br />Brand new retail package<br />Fast free shipping from authorized US dealer</span><strong><span style="color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: large;">&nbsp;</span></strong></p>
<p>&nbsp;</p>
<p><span style="font-family: Verdana,Arial,Helvetica,sans-serif; font-size: x-small;"> </span></p>
<p style="color: #000000;"><span style="font-size: large;"><strong>Specifications:</strong></span></p>
<ul style="color: #000000;">
<li>LED: CREE XM-L2 T6 Cool White</li>
<li>Battery: 4 x AA</li>
<li>Maximum Output: 960 lumens</li>
<li>Output/Runtimes:    
<ul>
<li>Turbo: 960 lumens / 1 h 45 min</li>
<li>High: 510 lumens / 2 h 45 min</li>
<li>Medium: 120 lumens / 12 h</li>
<li>Low: 40 lumens / 30 h</li>
<li>Lower: 1 lumens / 400 h</li>
</ul>
</li>
<li>Special Mode: Strobe, SOS and location beacon</li>
<li>Peak Beam Intensity: 25,000 cd</li>
<li>Beam Distance: 344 yards</li>
<li>Size: 4.61 inch(L) x 1.57 inch(Head D) x 1.65 inch(Tube D) ( 117 mm x 40 mm x 41.8 mm )</li>
<li>Weight: 5.33 oz (151 g)</li>
<li>Waterproof: IPX8</li>
<li>Impact Resistance: 1.5 m</li>
<li>Material: Aero grade aluminum alloy</li>
</ul>
<p>&nbsp;</p>