<div class="white-wide-section">
        <div class="narrow-container header">
<div id="gfooter" align="center">
<div id="footerContent rightPanelRaised">


  <br/>

  <div class="linksTable">
    <div class="headers">
      <ul>
        <li style="color:black;">Why buy from us</li>
        <li  style="color:black;">Customer service</li>
        <li style="color:black;">Get in the know</li>
        <li style="color:black;">Payment forms accepted</li>
      </ul>
      <div class="columnsEnd"></div>
    </div>
    <div class="columns">
      <!-- About Us -->
      <ul>
        <li><a href='{% url 'savings_channel' %}'>Our Unbeatable Saving's Channels</a></li>
        <li><a href='{% url 'secure_login' %}'>Secure and Easy Login</a></li>
        <li><a href='{% url 'secure_shopping' %}'>Safe and Secure Shopping</a></li>
        <li><a href='{% url 'free_shipping' %}'>Free Shipping on most domestic orders</a></li>
        <li><a href='{% url 'testimonial' %}'>Customer Testimonials</a></li>
        <li><a href='{% url 'privacy' %}'>We value your privacy</a></li>
      </ul>
      <!-- Customer Care -->
      <ul>
        <li><a href='{% url 'aboutus' %}'>About Us</a></li>
        <li><a href='{% url 'my_account' %}'>Your account</a></li>
        <li><a href='{% url 'customer_service' %}'>Shipping Policy, Returns & Exchanges, Warranty Services</a></li>
        <li><a href='{% url 'customer_service' %}'>Contact Us</a></li>
      </ul>
      <!-- Resources -->
           <ul>
		<li>
  			<table style="width:60%">
    				<tr valign="center">
      					<td width="5%" align="center">
        					<a target="_blank" href="https://www.youtube.com/channel/UCES4MH1-D00MhRt02n86r1w" class="social-icons-youtube"></a>
      					</td>
      					<td width="5%" align="center">
        					<a target="_blank" href="http://www.facebook.com/AndrewAmandaStore" class="social-icons-facebook"></a>
      					</td>
      					<td width="5%" align="center">
						<a target="_blank" href="http://www.twitter.com/andrewamanda8" class="social-icons-twitter"></a>
      					</td>
      					<td width="5%" align="center">
						<a target="_blank" href="https://www.instagram.com/andrew7193/" class="social-icons-instagram"></a>
      					</td>
   				</tr>
  			</table>
		</li>
                <li><a href="{% url 'email_signup' %}"><img class="noBorder" src="/static/images/siteImg/newsletter-icon-e1480902772716.jpeg" width="140" alt="Sign up for our newsletter" /></a></li>
	</ul>
      <ul>
	<li>
		<a href='{% url 'makeapayment' %}'>Send payment for an invoice</a>
	</li>
	<li>
		<img class="noBorder" src="/static/images/siteImg/img-creditCardStrip.png" width="208" height="24" alt="Major Creditcards" />
	</li>
	<li>
		<img class="noBorder" src="/static/images/siteImg/paypal-logo.gif" width="198" height="78" alt="Paypal" />
	</li>
      </ul>

  <div class="columnsEnd"></div>

</div>
</div>
</div>
</div>
</div></div>
