{% load catalog_tags %}

{% if dealoftheday|length > 0 %}
<div class="block">
<div class="block-title yuinavfont"><strong><span>Deal of The Day</span></strong>
	<div style="float:right;padding-top:5px;"> <a href="{% url 'dealoftheday' %}"><img src="/static/images/siteImg/viewall_button.gif" /></a></div>
</div>
<div class="block-content">
<br />
	<div class="MagicScroll" id="productsonsale">
		{% for p in dealoftheday %}
                <div>
                        <a target="_blank" href="{{ p.get_absolute_url }}">
                                <span style="font-family:Georgia; line-height:18px; font-size: 12px;color:red;">Today Only: ${{ p.sale_price }}</span>
                                <img src="{% thumbnail_image_url p.image.url %}" height="105px" loading="lazy" decoding="async" />
                                <span style="font-family:Georgia; line-height:18px; font-size: 12px;">{{ p.name }} <br>Regular Price: ${{ p.demo_price }}</span><br />

                        </a>
                </div>
		{% endfor %}

	</div>
<div class="cb"><br /></div>
</div>
</div>

{% endif %}
