<div class="js-imageRotator imageRotator">
	<div class="panel">
		<a href="http://www.cabelas.com/browse.cmd?categoryId=106686180"><img src="http://www.cabelas.com/assets/cms/img/category/hunting/101310_Cat_Hunt_1_TSGBSale.jpg" alt="Treestands &amp; Ground Blinds Sale" title="Treestands &amp; Ground Blinds Sale"></a>
	</div>
	<div class="panel">
		<a href="http://www.cabelas.com/catalog/search.cmd?form_state=searchForm&N=0&fsch=true&Ntk=AllProducts&Ntt=trophy+cams&x=0&y=0"><img src="http://www.cabelas.com/assets/cms/img/category/hunting/120110_Archery_1_TrophyCam.jpg" alt="Trophy Cams" title="Trophy Cams"></a>
	</div>
	<div class="navigation jsOnlyDisplayBlock">
		<ul>
			<li class="buttonPlayPause js-play">
				<a href="#" rel="nofollow"><img style="blk" src="http://www.cabelas.com/assets/images/btn/btn-play.gif" alt="Play"></a>
			</li>
			<li class="buttonPlayPause js-pause none">
<a href="#" rel="nofollow"><img style="blk" src="http://www.cabelas.com/assets/images/btn/btn-pause.gif" alt="Pause"></a>
			</li>
			<li>
				<a href="#" class="off js-panelLink" rel="nofollow">Treestands &amp; Ground Blinds Sale</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" class="off js-panelLink" rel="nofollow">Trophy Cams</a>
			</li>
			<li class="divider"></li>
		</ul>
	</div>
</div>
