
        <div id="tfooter">
            <div class="f-main">
                <div class="box-line">
                    <div class="f_box box1">

                        <h4>About {{ site_name }}</h4>
                        <ul class="links">
                            <li><a href="{% url 'aboutus' %}">About Us</a></li>
                            <li><a href="{% url 'customer_service' %}">Customer Service</a></li>
                            <li><a href="{% url 'customer_service' %}">Return Policy</a></li>
                            <li><a href="{% url 'product_warranty' %}">Product Warranty</a></li>

                            <li><a href="{% url 'register' %}">Sign Up Now</a></li>
                            <li><a href="{% url 'tag_cloud' %}">Product Tag Cloud</a></li>

                            <li><a href="{% url 'show_cart' %}">Shopping Cart</a></li>
                        </ul>
                    </div>
                    <div class="f_box box3">
                        <h4>Stay Connected</h4>
                        <ul class="links">
					<li style="float:left; margin-left:5px;list-style:none;">
						<a id="icnlnk" href="http://www.facebook.com/AndrewAmandaStore" target="_blank"><img class="noBorder" src="/static/images/siteImg/fb-icon.png" width="24" height="24" alt="{{ site_name }} Facebook"></a>
					</li>
					<li style="float:left; margin-left:5px;list-style:none;"></li>
					<li style="float:left; margin-left:5px;list-style:none;">
						<a href="http://www.twitter.com/andrewamanda8" target="_blank"><img class="noBorder" src="https://twitter-badges.s3.amazonaws.com/t_logo-a.png" width="24" height="24" alt="Follow Andrew & Amanda on Twitter"/></a>
					</li>
				</ul>

                            <br /><br /><br />
                        <h4>Stay Informed</h4>
                        <ul class="links">
                            <li><a href="{% url 'email_signup' %}">Sign up for our newsletter</a></li>
				</ul>



                    </div>

                    <div class="f_box box4">
                        <h4>Shopping with ease and security</h4>
                        <p>We accept</p>

                        <ul class="credit-cards">
                            <li><img class="noBorder" src="/static/images/siteImg/img-creditCardStrip.png" width="208" height="24" alt="Major Creditcards" /></li>

<!--
                            <li><img class="noBorder" src="/static/images/siteImg/checkout.gif" width="180" height="46" alt="Google Checkout" /></li>        
-->
                            <li><img class="noBorder" src="/static/images/siteImg/paypal-logo.gif" width="198" height="78" alt="Paypal" /></li>
        
                        </ul>
                    </div>
                    <div class="f_box box5">
                        <ul class="credit-cards">
                        	<li style="list-style:none;">
<!-- (c) 2005, 2012. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="cb848b3c-5649-45bb-93f6-a9f178cef48b";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Accept Credit Cards</a> </div> 
                        	</li>
                        	<li style="list-style:none;">

<!-- Begin DigiCert/ClickID site seal HTML and JavaScript -->
<div id="DigiCertClickID_cfAOP91w" data-language="en_US">
	<a href="http://www.digicert.com/ssl-certificate.htm">SSL Certificate</a>
</div>
<script type="text/javascript">
var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_cfAOP91w", "13", "m", "black", "cfAOP91w"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>
<!-- End DigiCert/ClickID site seal HTML and JavaScript -->
</li>


      
                        </ul>

 			  </div>

                </div>
			<div class="CopyRight">&copy; {{ site_name }} LLC 2010</div>


            </div>

        </div>





