{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}
  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="../index.html">Home</a></li><li>Additional Products</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/gallery/additional-products" typeof="sioc:Item foaf:Document" class="node node--image-gallery node--full node--image-gallery--full">
  <header>

          <h1 class="node__title">Additional Products</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-field-gallery-images field--type-image field--label-hidden">
        <div class="field-items">
                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/_MG_9206d0a0.jpg?itok=UvPeCujA" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Staircase hand rail &quot;, &quot;alt&quot;: &quot;Staircase hand rail &quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/_MG_92067c15.jpg?itok=waVgMGJI" width="250" height="250" alt="Staircase hand rail " title="Staircase hand rail " /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/IMG_2871c742.jpg?itok=_MsD9sux" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Wooden staircase&quot;, &quot;alt&quot;: &quot;Wooden staircase&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/IMG_2871c868.jpg?itok=2AkTPC7t" width="250" height="250" alt="Wooden staircase" title="Wooden staircase" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/justins%20door6213.jpg?itok=kyVbDHtQ" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Cafe Colette front door&quot;, &quot;alt&quot;: &quot;Cafe Colette front door&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/justins%20doorce26.jpg?itok=JbsQmXt1" width="250" height="250" alt="Cafe Colette front door" title="Cafe Colette front door" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/wooden%20register17fe.jpg?itok=OGDkpBnF" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Wooden air vent with squares &quot;, &quot;alt&quot;: &quot;Wooden air vent with squares&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/wooden%20registeraf64.jpg?itok=fy1eokfZ" width="250" height="250" alt="Wooden air vent with squares" title="Wooden air vent with squares " /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/handrail2570.jpg?itok=thxFl-pd" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Block of wood &quot;, &quot;alt&quot;: &quot;Block of wood&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/handrailbbfc.jpg?itok=IxzAqnhM" width="250" height="250" alt="Block of wood" title="Block of wood " /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/handrail%20crossb1e0.jpg?itok=TOHCX8N6" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Side of wood block &quot;, &quot;alt&quot;: &quot;Side of wood block&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/handrail%20cross4924.jpg?itok=0FSsfRVW" width="250" height="250" alt="Side of wood block" title="Side of wood block " /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/rena3bc02.jpg?itok=DDyskMEQ" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Top landing of staircase &quot;, &quot;alt&quot;: &quot;Top landing of staircase&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/rena3ca81.jpg?itok=OjIv7HZC" width="250" height="250" alt="Top landing of staircase" title="Top landing of staircase " /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/miles%20bench128b.jpg?itok=hq5WTaoc" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Long narrow wood table &quot;, &quot;alt&quot;: &quot;Long narrow wood table &quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/miles%20bench99ed.jpg?itok=EZCNoTTL" width="250" height="250" alt="Long narrow wood table " title="Long narrow wood table " /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/Doug%27s%20table6e55.jpg?itok=ap1maYNZ" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Wood table with iron legs &quot;, &quot;alt&quot;: &quot;Wood table with iron legs &quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/Doug%27s%20tablede27.jpg?itok=dYIQll0b" width="250" height="250" alt="Wood table with iron legs " title="Wood table with iron legs " /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/round%20tableac34.jpg?itok=_zUURgsi" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Circle wood table &quot;, &quot;alt&quot;: &quot;Circle wood table&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/round%20table876a.jpg?itok=Thj3l1Su" width="250" height="250" alt="Circle wood table" title="Circle wood table " /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/IMG_28619f07.jpg?itok=exWCNfM6" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Wood dining booth &quot;, &quot;alt&quot;: &quot;Wood dining booth&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/IMG_2861af17.jpg?itok=kjY0HfCq" width="250" height="250" alt="Wood dining booth" title="Wood dining booth " /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/IMG_2857479d.jpg?itok=AXQFSgvK" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Kitchen island &quot;, &quot;alt&quot;: &quot;Kitchen island&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/IMG_2857f9b9.jpg?itok=W5CUZsNw" width="250" height="250" alt="Kitchen island" title="Kitchen island " /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/_MG_8772d443.jpg?itok=e8r3YokA" title="" class="colorbox" data-colorbox-gallery="gallery-node-109-qriR5wLqKT0" data-cbox-img-attrs="{&quot;title&quot;: &quot;Rectangle wood table &quot;, &quot;alt&quot;: &quot;Rectangle wood table &quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/_MG_8772b87a.jpg?itok=mKIVJBJ4" width="250" height="250" alt="Rectangle wood table " title="Rectangle wood table " /></a>            </div>

            </div>
</div>  </div>

    </article>
  </div>
</div>
          </div>

      </div>


      {% endblock %}
