{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}

{% block hwp_main %}
  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="../index.html">Home</a></li><li>Antique Southern Yellow Pine</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/gallery/antique-southern-yellow-pine" typeof="sioc:Item foaf:Document" class="node node--image-gallery node--full node--image-gallery--full">
  <header>

          <h1 class="node__title">Antique Southern Yellow Pine</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-field-gallery-images field--type-image field--label-hidden">
        <div class="field-items">
                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g1_1e298.jpg?itok=BppSvEoc" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g1_1f095.jpg?itok=B15hjrq_" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g2_125a5.jpg?itok=Ro4C-iAA" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g2_15fc0.jpg?itok=eNpRBZaD" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/SYP1d64d.jpg?itok=nqyptGgM" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/SYP19923.jpg?itok=hvkjX-XM" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp360c5.jpg?itok=aV8wG3dk" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp35873.jpg?itok=mSk8g1N7" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp4e04b.jpg?itok=baMv4xbU" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp4491b.jpg?itok=ArNsiImZ" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp51cc4.jpg?itok=JlsOMc1i" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp5c640.jpg?itok=nlNrP9Nm" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp6c329.jpg?itok=-CYiEPJS" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp651df.jpg?itok=ZBnPxVfE" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp78703.jpg?itok=a2_kF3jr" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp768a0.jpg?itok=b-t4XXko" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp8b7b1.jpg?itok=K6-iZaCu" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp88747.jpg?itok=MHAfj_99" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp94918.jpg?itok=xGKdK6b6" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp93fb9.jpg?itok=lzRgTCJG" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp10bc09.jpg?itok=upVqsvzl" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp10049e.jpg?itok=EzIbMgUp" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp11f127.jpg?itok=3OzJlgth" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp11beba.jpg?itok=CSfK_mj4" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/syp125480.jpg?itok=a5k7LpBV" title="" class="colorbox" data-colorbox-gallery="gallery-node-104-GzFMxkEUStU" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/syp124f27.jpg?itok=E9eIdjBt" width="250" height="250" alt="" title="" /></a>            </div>

            </div>
</div>  </div>

    </article>
  </div>
</div>
          </div>

      </div>
{% endblock %}
