{% extends "heartwoodandbeyond/base.html" %}

{% block page_body %}
<body class="html not-front not-logged-in page-node page-node- page-node-28 node-type-page section-about sidebar">
{% endblock %}


{% block hwp_main %}


  <div class="l-preface">
                  </div>

      <div class="l-breadcrumb">
      <ul class="breadcrumb"><li><a href="../index.html">Home</a></li><li>Quartersawn Heartpine</li></ul>    </div>

  <div class="l-main">
    <div class="l-content">
      <a id="main-content"></a>
                        <div id="block-system-main" class="block block--system block--system-main">
        <div class="block__content">
    <article about="/gallery/quartersawn-heartpine" typeof="sioc:Item foaf:Document" class="node node--image-gallery node--promoted node--full node--image-gallery--full">
  <header>

          <h1 class="node__title">Quartersawn Heartpine</h1>
      </header>

  <div class="node__content">
    <div class="field field--name-field-gallery-images field--type-image field--label-hidden">
        <div class="field-items">
                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g1_09483.jpg?itok=lAEBlBen" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g1_092a0.jpg?itok=qMnMp9Ag" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g2_0892b.jpg?itok=Rh4JhLxD" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g2_03d03.jpg?itok=SOKXZhJg" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g3048d.jpg?itok=cOnIGuMw" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g34303.jpg?itok=aG34oyMc" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g46d93.jpg?itok=pnr3gE8T" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g41ea9.jpg?itok=36kfNp1a" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/g54a33.jpg?itok=lGIOEgBl" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/g59d84.jpg?itok=HNv1TDDy" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q1afea.jpg?itok=DK_Z3nTY" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q1903a.jpg?itok=rCyAg8iy" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q22cc7.jpg?itok=STbXMHOj" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q2a6fb.jpg?itok=iPnmEZeO" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q3d707.jpg?itok=APTGbtT2" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q3906c.jpg?itok=_UxB48_i" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q47d4b.jpg?itok=1qX9zznu" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q451fa.jpg?itok=NnIcSl0n" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q57e8a.jpg?itok=cD8-MAoT" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q51f24.jpg?itok=L30L0lMR" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/q6fcbf.jpg?itok=hcHctC5v" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/q618f3.jpg?itok=gzpKIxfM" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt10244.jpg?itok=YDii0ehV" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt11a96.jpg?itok=SoAgN-IS" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt295c5.jpg?itok=6y-978xq" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt2e1a1.jpg?itok=Ssxi6sOO" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt3f2b8.jpg?itok=nBeeflL5" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt3be10.jpg?itok=CLyWJ_Pg" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt492e1.jpg?itok=oBFSMq03" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt4f0a7.jpg?itok=6-gmJYu6" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt64a62.jpg?itok=ArZAd8xa" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt6a23c.jpg?itok=CrPt8Xwn" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item even"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt747c1.jpg?itok=Bo4gus7r" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt74034.jpg?itok=cgyt9GCM" width="250" height="250" alt="" title="" /></a>            </div>

                    <div class="field-item odd"><a href="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_800x600/public/image_gallery/images/qt8_0b032.jpg?itok=PuODmYJm" title="" class="colorbox" data-colorbox-gallery="gallery-node-103-mDGNcStcHF8" data-cbox-img-attrs="{&quot;title&quot;: &quot;&quot;, &quot;alt&quot;: &quot;&quot;}"><img typeof="foaf:Image" src="{{MEDIA_URL}}/heartwoodbeyond/default/files/styles/focal_point_scale_and_crop_250x250/public/image_gallery/images/qt8_0cd24.jpg?itok=U67Wprv7" width="250" height="250" alt="" title="" /></a>            </div>

            </div>
</div>  </div>

    </article>
  </div>
</div>
          </div>

      </div>
{% endblock %}
